In [ ]:
#전처리에 StandardScaler 적용
#예측모델에 신경망 적용 sigmoid 사용

# Step 3: Prepare Data for Consumption

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
t_train = pd.read_csv('../data/Titanic/train.csv')
t_test = pd.read_csv('../data/Titanic/test.csv')

In [3]:
#두 파일을 묶어 데이터 전처리 준비
data_cleaner = [t_train, t_test]

In [4]:
t_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
t_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
#결측치 제거
for dataset in data_cleaner:    
    #결측치를 중간값으로 대체
    dataset['Age'].fillna(dataset['Age'].median(), inplace = True)

    #결측치를 가장 많은 빈도의 항구로 대체
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace = True)

    #결측치를 중간값으로 대체
    dataset['Fare'].fillna(dataset['Fare'].median(), inplace = True)
    
    #결측치를 0으로 대체
    dataset['Cabin'].fillna(0, inplace = True)

In [7]:
#상호작용/다항식 추가
for dataset in data_cleaner :    
    #가족 수 컬럼 생성 : 부모님 + 형제 자매 + 자신
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
    
    #객실 여부 컬럼 생성 : 객실이 있으면 1, 없으면 0
    dataset['Have_Cabin'] = 1
    dataset['Have_Cabin'].loc[dataset['Cabin'] == 0 ] = 0
    
    #혼자 여행 여부 추가 : 혼자면 1, 가족이 있으면 0
    dataset['IsAlone'] = 1 
    dataset['IsAlone'].loc[dataset['FamilySize'] > 1] = 0  

    #타이틀만 가져와서 칼럼 생성
    dataset['Title'] = dataset['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]
    
    #나이별 카테고리 칼럼 생성
    dataset['age_cat'] = pd.cut(dataset['Age'], 
                             bins=[0, 3, 7, 15, 30, 60, 100], 
                             include_lowest=True, 
                             labels=['baby', 'children', 'teenage', 
                                     'young', 'adult', 'old']) 
   
    #이름 길이 컬럼 추가
    for i in data_cleaner :
        i['Name_Len'] = i['Name'].apply(lambda x: len(x))
    
    #티겟값 길이 추가
    for i in data_cleaner :
        i['Fare_Str'] = i['Fare'].apply(lambda x: str(x))
        i['Fare_Len'] = i['Fare_Str'].apply(lambda x: len(x))

C:\Users\a\Anaconda3\lib\site-packages\pandas\core\indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
#타이틀 정리하기
male = ['Capt', 'Col', 'Don',  'Dr', 'Jonkheer',  'Major', 'Master', 'Mr', 'Rev', 'Sir']
for dataset in data_cleaner :
    for i in range(0, len(dataset)) :
        if dataset['Title'][i] in male:
            dataset['Title'][i]  = 'Mr'
        else : 
            dataset['Title'][i] = 'Mrs'

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
t_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Have_Cabin,IsAlone,Title,age_cat,Name_Len,Fare_Str,Fare_Len
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,2,0,0,Mr,young,23,7.25,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,1,0,Mrs,adult,51,71.2833,7
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,1,0,1,Mrs,young,22,7.925,5
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,1,0,Mrs,adult,44,53.1,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,1,0,1,Mr,adult,24,8.05,4
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,0,Q,1,0,1,Mr,young,16,8.4583,6
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,1,1,Mr,adult,23,51.8625,7
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S,5,0,0,Mr,baby,30,21.075,6
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S,3,0,0,Mrs,young,49,11.1333,7
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C,2,0,0,Mrs,teenage,35,30.0708,7
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,1,0,Mrs,children,31,16.7,4
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,1,1,Mrs,adult,24,26.55,5
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S,1,0,1,Mr,young,30,8.05,4
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S,7,0,0,Mr,adult,27,31.275,6
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S,1,0,1,Mrs,teenage,36,7.8542,6
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S,1,0,1,Mrs,adult,32,16.0,4
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q,6,0,0,Mr,baby,20,29.125,6
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,244373,13.0000,0,S,1,0,1,Mr,young,28,13.0,4
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S,2,0,0,Mrs,adult,55,18.0,4
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,2649,7.2250,0,C,1,0,1,Mrs,young,23,7.225,5
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,0,S,1,0,1,Mr,adult,20,26.0,4
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,1,1,1,Mr,adult,21,13.0,4
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,0,Q,1,0,1,Mrs,teenage,27,8.0292,6
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1,1,1,Mr,young,28,35.5,4
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,0,S,5,0,0,Mrs,teenage,29,21.075,6
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,0,S,7,0,0,Mrs,adult,57,31.3875,7
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.0,0,0,2631,7.2250,0,C,1,0,1,Mr,young,23,7.225,5
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,6,1,0,Mr,young,30,263.0,5
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28.0,0,0,330959,7.8792,0,Q,1,0,1,Mrs,young,29,7.8792,6
29,30,0,3,"Todoroff, Mr. Lalio",male,28.0,0,0,349216,7.8958,0,S,1,0,1,Mr,young,19,7.8958,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,0,S,2,0,0,Mr,young,27,11.5,4
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,1,1,1,Mrs,adult,51,25.9292,7
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28.0,8,2,CA. 2343,69.5500,0,S,11,0,0,Mrs,young,33,69.55,5
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,0,S,1,0,1,Mr,young,22,13.0,4
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,0,S,1,0,1,Mrs,adult,24,13.0,4
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,0,C,2,0,0,Mrs,young,28,13.8583,7
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,1,1,1,Mr,adult,36,50.4958,7
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28.0,0,0,345777,9.5000,0,S,1,0,1,Mr,young,27,9.5,3
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,0,S,3,0,0,Mr,children,31,11.1333,7
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,0,S,1,0,1,Mr,young,17,7.8958,6
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3,1,0,Mrs,adult,48,52.5542,7
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,1,1,Mr,adult,24,5.0,3
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,0,S,1,0,1,Mr,adult,27,9.0,3
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,0,C,2,0,0,Mrs,young,37,24.0,4
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,0,C,1,0,1,Mrs,teenage,32,7.225,5
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,0,S,1,0,1,Mr,young,29,9.8458,6
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,0,S,1,0,1,Mr,young,20,7.8958,6
878,879,0,3,"Laleff, Mr. Kristo",male,28.0,0,0,349217,7.8958,0,S,1,0,1,Mr,young,18,7.8958,6
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2,1,0,Mrs,adult,45,83.1583,7
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,0,S,2,0,0,Mrs,young,44,26.0,4
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,0,S,1,0,1,Mr,adult,18,7.8958,6
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,0,S,1,0,1,Mrs,young,28,10.5167,7
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,1,0,1,Mr,young,29,10.5,4
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,1,0,1,Mr,young,22,7.05,4
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,0,Q,6,0,0,Mrs,adult,36,29.125,6
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,1,0,1,Mr,young,21,13.0,4
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,1,1,Mrs,young,28,30.0,4
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,0,S,4,0,0,Mrs,young,40,23.45,5
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,1,1,Mr,young,21,30.0,4
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,1,0,1,Mr,adult,19,7.75,4

In [10]:
#타겟값 설정
t_train.target = t_train['Survived']

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [11]:
#필요없는 컬럼 제거
drop_column = ['PassengerId','Cabin', 'Ticket', 'Name', 'Fare_Str']
for dataset in data_cleaner : 
    dataset.drop(drop_column, axis=1, inplace = True)

In [12]:
t_train.data = t_train.drop("Survived", axis = 1)

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [13]:
t_train.data.shape

(891, 14)

In [14]:
data_dummies = pd.get_dummies(t_train.data)

In [15]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 23 columns):
Pclass              891 non-null int64
Age                 891 non-null float64
SibSp               891 non-null int64
Parch               891 non-null int64
Fare                891 non-null float64
FamilySize          891 non-null int64
Have_Cabin          891 non-null int64
IsAlone             891 non-null int64
Name_Len            891 non-null int64
Fare_Len            891 non-null int64
Sex_female          891 non-null uint8
Sex_male            891 non-null uint8
Embarked_C          891 non-null uint8
Embarked_Q          891 non-null uint8
Embarked_S          891 non-null uint8
Title_Mr            891 non-null uint8
Title_Mrs           891 non-null uint8
age_cat_baby        891 non-null uint8
age_cat_children    891 non-null uint8
age_cat_teenage     891 non-null uint8
age_cat_young       891 non-null uint8
age_cat_adult       891 non-null uint8
age_cat_old         891 non-null uint8
dtypes: float64(2), int64(8), uint8(13)
memory usage: 81.0 KB

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(data_dummies)

X_scaled = scaler.transform(data_dummies)

In [17]:
X_scaled

array([[ 0.82737724, -0.56573646,  0.43279337, ...,  0.87827773,
        -0.68224668, -0.15911146],
       [-1.56610693,  0.66386103,  0.43279337, ..., -1.138592  ,
         1.46574551, -0.15911146],
       [ 0.82737724, -0.25833709, -0.4745452 , ...,  0.87827773,
        -0.68224668, -0.15911146],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ...,  0.87827773,
        -0.68224668, -0.15911146],
       [-1.56610693, -0.25833709, -0.4745452 , ...,  0.87827773,
        -0.68224668, -0.15911146],
       [ 0.82737724,  0.20276197, -0.4745452 , ..., -1.138592  ,
         1.46574551, -0.15911146]])

# Step 5: Model Data

In [18]:
X_scaled.shape

(891, 23)

In [19]:
from keras.models import Sequential, Model
from keras.layers import Dense, Dropout, Input 
from keras.utils import to_categorical
t_train.target = to_categorical(t_train.target)

model = Sequential()
model.add(Dense(128,activation="relu",input_shape = (23, ) ))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dense(2, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer= 'adam', metrics=['accuracy'])


model.fit(X_scaled, t_train.target, batch_size=5, epochs= 100)

Using TensorFlow backend.
WARNING: Logging before flag parsing goes to stderr.
W0910 14:31:50.295934  6132 deprecation_wrapper.py:119] From C:\Users\a\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0910 14:31:50.309934  6132 deprecation_wrapper.py:119] From C:\Users\a\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0910 14:31:50.312935  6132 deprecation_wrapper.py:119] From C:\Users\a\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0910 14:31:50.328935  6132 deprecation_wrapper.py:119] From C:\Users\a\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0910 14:31:50.338936  6132 deprecation.py:506] From C:\Users\a\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W0910 14:31:50.418941  6132 deprecation_wrapper.py:119] From C:\Users\a\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0910 14:31:50.443942  6132 deprecation_wrapper.py:119] From C:\Users\a\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

W0910 14:31:50.447942  6132 deprecation.py:323] From C:\Users\a\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Epoch 1/100
891/891 [==============================] - 1s 808us/step - loss: 0.5960 - acc: 0.6841
Epoch 2/100
891/891 [==============================] - 0s 214us/step - loss: 0.4909 - acc: 0.7800
Epoch 3/100
891/891 [==============================] - 0s 240us/step - loss: 0.4654 - acc: 0.8103
Epoch 4/100
891/891 [==============================] - 0s 295us/step - loss: 0.4675 - acc: 0.8126
Epoch 5/100
891/891 [==============================] - 0s 221us/step - loss: 0.4516 - acc: 0.8081
Epoch 6/100
891/891 [==============================] - 0s 219us/step - loss: 0.4367 - acc: 0.8092
Epoch 7/100
891/891 [==============================] - 0s 219us/step - loss: 0.4281 - acc: 0.8193
Epoch 8/100
891/891 [==============================] - 0s 222us/step - loss: 0.4169 - acc: 0.8356
Epoch 9/100
891/891 [==============================] - 0s 212us/step - loss: 0.4460 - acc: 0.8042
Epoch 10/100
891/891 [==============================] - 0s 223us/step - loss: 0.4157 - acc: 0.8165
Epoch 11/100
891/891 [==============================] - 0s 250us/step - loss: 0.4133 - acc: 0.8367
Epoch 12/100
891/891 [==============================] - 0s 253us/step - loss: 0.4146 - acc: 0.8244
Epoch 13/100
891/891 [==============================] - 0s 219us/step - loss: 0.4177 - acc: 0.8260
Epoch 14/100
891/891 [==============================] - 0s 222us/step - loss: 0.4210 - acc: 0.8316
Epoch 15/100
891/891 [==============================] - 0s 220us/step - loss: 0.4049 - acc: 0.8316
Epoch 16/100
891/891 [==============================] - 0s 223us/step - loss: 0.4133 - acc: 0.8227
Epoch 17/100
891/891 [==============================] - 0s 223us/step - loss: 0.4157 - acc: 0.8232
Epoch 18/100
891/891 [==============================] - 0s 247us/step - loss: 0.3930 - acc: 0.8440
Epoch 19/100
891/891 [==============================] - 0s 221us/step - loss: 0.4098 - acc: 0.8300
Epoch 20/100
891/891 [==============================] - 0s 226us/step - loss: 0.4018 - acc: 0.8389
Epoch 21/100
891/891 [==============================] - 0s 224us/step - loss: 0.3964 - acc: 0.8311
Epoch 22/100
891/891 [==============================] - 0s 281us/step - loss: 0.4001 - acc: 0.8328
Epoch 23/100
891/891 [==============================] - 0s 233us/step - loss: 0.3829 - acc: 0.8468
Epoch 24/100
891/891 [==============================] - 0s 223us/step - loss: 0.4060 - acc: 0.8350
Epoch 25/100
891/891 [==============================] - 0s 220us/step - loss: 0.3872 - acc: 0.8389
Epoch 26/100
891/891 [==============================] - 0s 219us/step - loss: 0.3906 - acc: 0.8423
Epoch 27/100
891/891 [==============================] - 0s 218us/step - loss: 0.3818 - acc: 0.8423
Epoch 28/100
891/891 [==============================] - 0s 227us/step - loss: 0.4069 - acc: 0.8316
Epoch 29/100
891/891 [==============================] - 0s 221us/step - loss: 0.3990 - acc: 0.8294
Epoch 30/100
891/891 [==============================] - 0s 224us/step - loss: 0.3797 - acc: 0.8547
Epoch 31/100
891/891 [==============================] - 0s 224us/step - loss: 0.3922 - acc: 0.8541
Epoch 32/100
891/891 [==============================] - 0s 220us/step - loss: 0.3801 - acc: 0.8474
Epoch 33/100
891/891 [==============================] - 0s 244us/step - loss: 0.3868 - acc: 0.8524
Epoch 34/100
891/891 [==============================] - 0s 219us/step - loss: 0.3869 - acc: 0.8446
Epoch 35/100
891/891 [==============================] - 0s 226us/step - loss: 0.3724 - acc: 0.8490
Epoch 36/100
891/891 [==============================] - 0s 226us/step - loss: 0.3802 - acc: 0.8474
Epoch 37/100
891/891 [==============================] - 0s 222us/step - loss: 0.3941 - acc: 0.8406
Epoch 38/100
891/891 [==============================] - 0s 223us/step - loss: 0.3713 - acc: 0.8462
Epoch 39/100
891/891 [==============================] - 0s 219us/step - loss: 0.3672 - acc: 0.8440
Epoch 40/100
891/891 [==============================] - 0s 214us/step - loss: 0.3676 - acc: 0.8395
Epoch 41/100
891/891 [==============================] - 0s 263us/step - loss: 0.3757 - acc: 0.8418
Epoch 42/100
891/891 [==============================] - 0s 291us/step - loss: 0.3679 - acc: 0.8384
Epoch 43/100
891/891 [==============================] - 0s 213us/step - loss: 0.3590 - acc: 0.8490
Epoch 44/100
891/891 [==============================] - 0s 306us/step - loss: 0.3625 - acc: 0.8479
Epoch 45/100
891/891 [==============================] - 0s 209us/step - loss: 0.3665 - acc: 0.8479
Epoch 46/100
891/891 [==============================] - 0s 324us/step - loss: 0.3712 - acc: 0.8457
Epoch 47/100
891/891 [==============================] - 0s 269us/step - loss: 0.3526 - acc: 0.8620
Epoch 48/100
891/891 [==============================] - 0s 278us/step - loss: 0.3646 - acc: 0.8490
Epoch 49/100
891/891 [==============================] - 0s 221us/step - loss: 0.3796 - acc: 0.8401
Epoch 50/100
891/891 [==============================] - 0s 219us/step - loss: 0.3626 - acc: 0.8524
Epoch 51/100
891/891 [==============================] - 0s 220us/step - loss: 0.3651 - acc: 0.8563
Epoch 52/100
891/891 [==============================] - 0s 224us/step - loss: 0.3624 - acc: 0.8502
Epoch 53/100
891/891 [==============================] - 0s 223us/step - loss: 0.3663 - acc: 0.8597
Epoch 54/100
891/891 [==============================] - 0s 222us/step - loss: 0.3611 - acc: 0.8524
Epoch 55/100
891/891 [==============================] - 0s 223us/step - loss: 0.3492 - acc: 0.8754
Epoch 56/100
891/891 [==============================] - 0s 226us/step - loss: 0.3653 - acc: 0.8597
Epoch 57/100
891/891 [==============================] - 0s 222us/step - loss: 0.3484 - acc: 0.8563
Epoch 58/100
891/891 [==============================] - 0s 227us/step - loss: 0.3674 - acc: 0.8558
Epoch 59/100
891/891 [==============================] - 0s 226us/step - loss: 0.3633 - acc: 0.8502
Epoch 60/100
891/891 [==============================] - 0s 218us/step - loss: 0.3548 - acc: 0.8446
Epoch 61/100
891/891 [==============================] - 0s 219us/step - loss: 0.3433 - acc: 0.8676
Epoch 62/100
891/891 [==============================] - 0s 254us/step - loss: 0.3830 - acc: 0.8457
Epoch 63/100
891/891 [==============================] - 0s 221us/step - loss: 0.3546 - acc: 0.8608
Epoch 64/100
891/891 [==============================] - 0s 222us/step - loss: 0.3567 - acc: 0.8631
Epoch 65/100
891/891 [==============================] - 0s 218us/step - loss: 0.3628 - acc: 0.8457
Epoch 66/100
891/891 [==============================] - 0s 224us/step - loss: 0.3379 - acc: 0.8692
Epoch 67/100
891/891 [==============================] - 0s 222us/step - loss: 0.3565 - acc: 0.8547
Epoch 68/100
891/891 [==============================] - 0s 239us/step - loss: 0.3437 - acc: 0.8547
Epoch 69/100
891/891 [==============================] - 0s 305us/step - loss: 0.3475 - acc: 0.8653
Epoch 70/100
891/891 [==============================] - 0s 265us/step - loss: 0.3482 - acc: 0.8620
Epoch 71/100
891/891 [==============================] - 0s 238us/step - loss: 0.3422 - acc: 0.8620
Epoch 72/100
891/891 [==============================] - 0s 236us/step - loss: 0.3368 - acc: 0.8664
Epoch 73/100
891/891 [==============================] - 0s 230us/step - loss: 0.3547 - acc: 0.8569
Epoch 74/100
891/891 [==============================] - 0s 231us/step - loss: 0.3523 - acc: 0.8608
Epoch 75/100
891/891 [==============================] - 0s 235us/step - loss: 0.3429 - acc: 0.8575
Epoch 76/100
891/891 [==============================] - 0s 245us/step - loss: 0.3540 - acc: 0.8586
Epoch 77/100
891/891 [==============================] - 0s 238us/step - loss: 0.3486 - acc: 0.8608
Epoch 78/100
891/891 [==============================] - 0s 230us/step - loss: 0.3494 - acc: 0.8535
Epoch 79/100
891/891 [==============================] - 0s 231us/step - loss: 0.3308 - acc: 0.8692
Epoch 80/100
891/891 [==============================] - 0s 232us/step - loss: 0.3489 - acc: 0.8563
Epoch 81/100
891/891 [==============================] - 0s 221us/step - loss: 0.3400 - acc: 0.8664
Epoch 82/100
891/891 [==============================] - 0s 222us/step - loss: 0.3271 - acc: 0.8681
Epoch 83/100

891/891 [==============================] - 0s 222us/step - loss: 0.3348 - acc: 0.8575
Epoch 84/100
891/891 [==============================] - 0s 212us/step - loss: 0.3462 - acc: 0.8563
Epoch 85/100
891/891 [==============================] - 0s 210us/step - loss: 0.3380 - acc: 0.8625
Epoch 86/100
891/891 [==============================] - 0s 240us/step - loss: 0.3481 - acc: 0.8636
Epoch 87/100
891/891 [==============================] - 0s 291us/step - loss: 0.3476 - acc: 0.8597
Epoch 88/100
891/891 [==============================] - 0s 213us/step - loss: 0.3381 - acc: 0.8636
Epoch 89/100
891/891 [==============================] - 0s 224us/step - loss: 0.3379 - acc: 0.8687
Epoch 90/100
891/891 [==============================] - 0s 212us/step - loss: 0.3379 - acc: 0.8586
Epoch 91/100
891/891 [==============================] - 0s 233us/step - loss: 0.3264 - acc: 0.8664
Epoch 92/100
891/891 [==============================] - 0s 216us/step - loss: 0.3440 - acc: 0.8732
Epoch 93/100
891/891 [==============================] - 0s 217us/step - loss: 0.3420 - acc: 0.8664
Epoch 94/100
891/891 [==============================] - 0s 210us/step - loss: 0.3290 - acc: 0.8664
Epoch 95/100
891/891 [==============================] - 0s 209us/step - loss: 0.3265 - acc: 0.8625
Epoch 96/100
891/891 [==============================] - 0s 216us/step - loss: 0.3242 - acc: 0.8625
Epoch 97/100
891/891 [==============================] - 0s 229us/step - loss: 0.3362 - acc: 0.8642
Epoch 98/100
891/891 [==============================] - 0s 217us/step - loss: 0.3416 - acc: 0.8625
Epoch 99/100
891/891 [==============================] - 0s 212us/step - loss: 0.3298 - acc: 0.8625
Epoch 100/100
891/891 [==============================] - 0s 212us/step - loss: 0.3312 - acc: 0.8563

# Step 6: Validate and Implement

In [20]:
t_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Name_Len,Fare_Len,FamilySize,Have_Cabin,IsAlone,Title,age_cat
0,3,male,34.5,0,0,7.8292,Q,16,6,1,0,1,Mr,adult
1,3,female,47.0,1,0,7.0000,S,32,3,2,0,0,Mrs,adult
2,2,male,62.0,0,0,9.6875,Q,25,6,1,0,1,Mr,old
3,3,male,27.0,0,0,8.6625,S,16,6,1,0,1,Mr,young
4,3,female,22.0,1,1,12.2875,S,44,7,3,0,0,Mrs,young
5,3,male,14.0,0,0,9.2250,S,26,5,1,0,1,Mr,teenage
6,3,female,30.0,0,0,7.6292,Q,20,6,1,0,1,Mrs,young
7,2,male,26.0,1,1,29.0000,S,28,4,3,0,0,Mr,young
8,3,female,18.0,0,0,7.2292,C,41,6,1,0,1,Mrs,young
9,3,male,21.0,2,0,24.1500,S,23,5,3,0,0,Mr,young
10,3,male,27.0,0,0,7.8958,S,16,6,1,0,1,Mr,young
11,1,male,46.0,0,0,26.0000,S,26,4,1,0,1,Mr,adult
12,1,female,23.0,1,0,82.2667,S,45,7,2,1,0,Mrs,young
13,2,male,63.0,1,0,26.0000,S,20,4,2,0,0,Mr,old
14,1,female,47.0,1,0,61.1750,S,55,6,2,1,0,Mrs,adult
15,2,female,24.0,1,0,27.7208,C,45,7,2,0,0,Mrs,young
16,2,male,35.0,0,0,12.3500,Q,17,5,1,0,1,Mr,adult
17,3,male,21.0,0,0,7.2250,C,17,5,1,0,1,Mr,young
18,3,female,27.0,1,0,7.9250,S,28,5,2,0,0,Mrs,young
19,3,female,45.0,0,0,7.2250,C,37,5,1,0,1,Mrs,adult
20,1,male,55.0,1,0,59.4000,C,22,4,2,0,0,Mr,adult
21,3,male,9.0,0,1,3.1708,S,25,6,2,0,0,Mr,teenage
22,1,female,27.0,0,0,31.6833,S,36,7,1,0,1,Mrs,young
23,1,male,21.0,0,1,61.3792,C,31,7,2,0,0,Mr,young
24,1,female,48.0,1,3,262.3750,C,47,7,5,1,0,Mrs,adult
25,3,male,50.0,1,0,14.5000,S,23,4,2,0,0,Mr,adult
26,1,female,22.0,0,1,61.9792,C,28,7,2,1,0,Mrs,young
27,3,male,22.5,0,0,7.2250,C,17,5,1,0,1,Mr,young
28,1,male,41.0,0,0,30.5000,S,23,4,1,1,1,Mr,adult
29,3,male,27.0,2,0,21.6792,C,17,7,3,0,0,Mr,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,male,21.0,0,0,7.7500,Q,20,4,1,0,1,Mr,young
389,3,male,6.0,3,1,21.0750,S,27,6,5,0,0,Mr,children
390,1,male,23.0,0,0,93.5000,S,26,4,1,1,1,Mr,young
391,1,female,51.0,0,1,39.4000,S,46,4,2,1,0,Mrs,adult
392,3,male,13.0,0,2,20.2500,S,29,5,3,0,0,Mr,teenage
393,2,male,47.0,0,0,10.5000,S,20,4,1,0,1,Mr,adult
394,3,male,29.0,3,1,22.0250,S,24,6,5,0,0,Mr,young
395,1,female,18.0,1,0,60.0000,S,46,4,2,1,0,Mrs,young
396,3,male,24.0,0,0,7.2500,Q,20,4,1,0,1,Mr,young
397,1,female,48.0,1,1,79.2000,C,63,4,3,1,0,Mrs,adult
398,3,male,22.0,0,0,7.7750,S,30,5,1,0,1,Mr,young
399,3,male,31.0,0,0,7.7333,Q,24,6,1,0,1,Mr,adult
400,1,female,30.0,0,0,164.8667,S,23,8,1,1,1,Mrs,young
401,2,male,38.0,1,0,21.0000,S,15,4,2,0,0,Mr,adult
402,1,female,22.0,0,1,59.4000,C,30,4,2,0,0,Mrs,young
403,1,male,17.0,0,0,47.1000,S,22,4,1,0,1,Mr,young
404,1,male,43.0,1,0,27.7208,C,28,7,2,1,0,Mr,adult
405,2,male,20.0,0,0,13.8625,C,44,7,1,1,1,Mr,young
406,2,male,23.0,1,0,10.5000,S,25,4,2,0,0,Mr,young
407,1,male,50.0,1,1,211.5000,C,26,5,3,1,0,Mr,adult
408,3,female,27.0,0,0,7.7208,Q,31,6,1,0,1,Mrs,young
409,3,female,3.0,1,1,13.7750,S,25,6,3,0,0,Mrs,baby
410,3,female,27.0,0,0,7.7500,Q,22,4,1,0,1,Mrs,young
411,1,female,37.0,1,0,90.0000,Q,47,4,2,1,0,Mrs,adult
412,3,female,28.0,0,0,7.7750,S,30,5,1,0,1,Mrs,young
413,3,male,27.0,0,0,8.0500,S,18,4,1,0,1,Mr,young
414,1,female,39.0,0,0,108.9000,C,28,5,1,1,1,Mrs,adult
415,3,male,38.5,0,0,7.2500,S,28,4,1,0,1,Mr,adult
416,3,male,27.0,0,0,8.0500,S,19,4,1,0,1,Mr,young
417,3,male,27.0,1,1,22.3583,C,24,7,3,0,0,Mr,young

In [21]:
data_dummies2 = pd.get_dummies(t_test)

In [22]:
data_dummies2

,Pclass,Age,SibSp,Parch,Fare,Name_Len,Fare_Len,FamilySize,Have_Cabin,IsAlone,...,Embarked_Q,Embarked_S,Title_Mr,Title_Mrs,age_cat_baby,age_cat_children,age_cat_teenage,age_cat_young,age_cat_adult,age_cat_old
0,3,34.5,0,0,7.8292,16,6,1,0,1,...,1,0,1,0,0,0,0,0,1,0
1,3,47.0,1,0,7.0000,32,3,2,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2,62.0,0,0,9.6875,25,6,1,0,1,...,1,0,1,0,0,0,0,0,0,1
3,3,27.0,0,0,8.6625,16,6,1,0,1,...,0,1,1,0,0,0,0,1,0,0
4,3,22.0,1,1,12.2875,44,7,3,0,0,...,0,1,0,1,0,0,0,1,0,0
5,3,14.0,0,0,9.2250,26,5,1,0,1,...,0,1,1,0,0,0,1,0,0,0
6,3,30.0,0,0,7.6292,20,6,1,0,1,...,1,0,0,1,0,0,0,1,0,0
7,2,26.0,1,1,29.0000,28,4,3,0,0,...,0,1,1,0,0,0,0,1,0,0
8,3,18.0,0,0,7.2292,41,6,1,0,1,...,0,0,0,1,0,0,0,1,0,0
9,3,21.0,2,0,24.1500,23,5,3,0,0,...,0,1,1,0,0,0,0,1,0,0
10,3,27.0,0,0,7.8958,16,6,1,0,1,...,0,1,1,0,0,0,0,1,0,0
11,1,46.0,0,0,26.0000,26,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
12,1,23.0,1,0,82.2667,45,7,2,1,0,...,0,1,0,1,0,0,0,1,0,0
13,2,63.0,1,0,26.0000,20,4,2,0,0,...,0,1,1,0,0,0,0,0,0,1
14,1,47.0,1,0,61.1750,55,6,2,1,0,...,0,1,0,1,0,0,0,0,1,0
15,2,24.0,1,0,27.7208,45,7,2,0,0,...,0,0,0,1,0,0,0,1,0,0
16,2,35.0,0,0,12.3500,17,5,1,0,1,...,1,0,1,0,0,0,0,0,1,0
17,3,21.0,0,0,7.2250,17,5,1,0,1,...,0,0,1,0,0,0,0,1,0,0
18,3,27.0,1,0,7.9250,28,5,2,0,0,...,0,1,0,1,0,0,0,1,0,0
19,3,45.0,0,0,7.2250,37,5,1,0,1,...,0,0,0,1,0,0,0,0,1,0
20,1,55.0,1,0,59.4000,22,4,2,0,0,...,0,0,1,0,0,0,0,0,1,0
21,3,9.0,0,1,3.1708,25,6,2,0,0,...,0,1,1,0,0,0,1,0,0,0
22,1,27.0,0,0,31.6833,36,7,1,0,1,...,0,1,0,1,0,0,0,1,0,0
23,1,21.0,0,1,61.3792,31,7,2,0,0,...,0,0,1,0,0,0,0,1,0,0
24,1,48.0,1,3,262.3750,47,7,5,1,0,...,0,0,0,1,0,0,0,0,1,0
25,3,50.0,1,0,14.5000,23,4,2,0,0,...,0,1,1,0,0,0,0,0,1,0
26,1,22.0,0,1,61.9792,28,7,2,1,0,...,0,0,0,1,0,0,0,1,0,0
27,3,22.5,0,0,7.2250,17,5,1,0,1,...,0,0,1,0,0,0,0,1,0,0
28,1,41.0,0,0,30.5000,23,4,1,1,1,...,0,1,1,0,0,0,0,0,1,0
29,3,27.0,2,0,21.6792,17,7,3,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,21.0,0,0,7.7500,20,4,1,0,1,...,1,0,1,0,0,0,0,1,0,0
389,3,6.0,3,1,21.0750,27,6,5,0,0,...,0,1,1,0,0,1,0,0,0,0
390,1,23.0,0,0,93.5000,26,4,1,1,1,...,0,1,1,0,0,0,0,1,0,0
391,1,51.0,0,1,39.4000,46,4,2,1,0,...,0,1,0,1,0,0,0,0,1,0
392,3,13.0,0,2,20.2500,29,5,3,0,0,...,0,1,1,0,0,0,1,0,0,0
393,2,47.0,0,0,10.5000,20,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
394,3,29.0,3,1,22.0250,24,6,5,0,0,...,0,1,1,0,0,0,0,1,0,0
395,1,18.0,1,0,60.0000,46,4,2,1,0,...,0,1,0,1,0,0,0,1,0,0
396,3,24.0,0,0,7.2500,20,4,1,0,1,...,1,0,1,0,0,0,0,1,0,0
397,1,48.0,1,1,79.2000,63,4,3,1,0,...,0,0,0,1,0,0,0,0,1,0
398,3,22.0,0,0,7.7750,30,5,1,0,1,...,0,1,1,0,0,0,0,1,0,0
399,3,31.0,0,0,7.7333,24,6,1,0,1,...,1,0,1,0,0,0,0,0,1,0
400,1,30.0,0,0,164.8667,23,8,1,1,1,...,0,1,0,1,0,0,0,1,0,0
401,2,38.0,1,0,21.0000,15,4,2,0,0,...,0,1,1,0,0,0,0,0,1,0
402,1,22.0,0,1,59.4000,30,4,2,0,0,...,0,0,0,1,0,0,0,1,0,0
403,1,17.0,0,0,47.1000,22,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
404,1,43.0,1,0,27.7208,28,7,2,1,0,...,0,0,1,0,0,0,0,0,1,0
405,2,20.0,0,0,13.8625,44,7,1,1,1,...,0,0,1,0,0,0,0,1,0,0
406,2,23.0,1,0,10.5000,25,4,2,0,0,...,0,1,1,0,0,0,0,1,0,0
407,1,50.0,1,1,211.5000,26,5,3,1,0,...,0,0,1,0,0,0,0,0,1,0
408,3,27.0,0,0,7.7208,31,6,1,0,1,...,1,0,0,1,0,0,0,1,0,0
409,3,3.0,1,1,13.7750,25,6,3,0,0,...,0,1,0,1,1,0,0,0,0,0
410,3,27.0,0,0,7.7500,22,4,1,0,1,...,1,0,0,1,0,0,0,1,0,0
411,1,37.0,1,0,90.0000,47,4,2,1,0,...,1,0,0,1,0,0,0,0,1,0
412,3,28.0,0,0,7.7750,30,5,1,0,1,...,0,1,0,1,0,0,0,1,0,0
413,3,27.0,0,0,8.0500,18,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
414,1,39.0,0,0,108.9000,28,5,1,1,1,...,0,0,0,1,0,0,0,0,1,0
415,3,38.5,0,0,7.2500,28,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
416,3,27.0,0,0,8.0500,19,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
417,3,27.0,1,1,22.3583,24,7,3,0,0,...,0,0,1,0,0,0,0,1,0,0

In [23]:
data_dummies2.shape

(418, 23)

In [24]:
Y_scaled = scaler.transform(data_dummies2)

In [25]:
predictions = model.predict(Y_scaled)

In [26]:
predictions

array([[0.74133325, 0.26413837],
       [0.95742667, 0.04747435],
       [0.88465536, 0.09532729],
       [0.73159754, 0.26644343],
       [0.89507484, 0.09343386],
       [0.86303675, 0.12287256],
       [0.6200882 , 0.39582324],
       [0.95854247, 0.03929532],
       [0.81005824, 0.17740071],
       [0.89130735, 0.09297282],
       [0.7311202 , 0.26683807],
       [0.84943026, 0.1336802 ],
       [0.8434856 , 0.14146781],
       [0.9186882 , 0.06161484],
       [0.9275845 , 0.06712681],
       [0.822116  , 0.16458309],
       [0.759701  , 0.24287164],
       [0.6981852 , 0.30304316],
       [0.830011  , 0.15890694],
       [0.8277432 , 0.16177139],
       [0.8088781 , 0.17491356],
       [0.8410647 , 0.14648888],
       [0.71037734, 0.2880506 ],
       [0.7751901 , 0.21654129],
       [0.872861  , 0.10907373],
       [0.9400779 , 0.0571408 ],
       [0.33547276, 0.6459071 ],
       [0.7015795 , 0.29898047],
       [0.8087204 , 0.17699248],
       [0.69595265, 0.30571443],
       [0.9404373 , 0.0561839 ],
       [0.95620483, 0.04144862],
       [0.90910363, 0.0860666 ],
       [0.98661   , 0.01432875],
       [0.7824981 , 0.20890236],
       [0.96226656, 0.03685158],
       [0.7326057 , 0.26592028],
       [0.5267232 , 0.47220162],
       [0.89926827, 0.08919069],
       [0.6589048 , 0.35460618],
       [0.6254005 , 0.3901257 ],
       [0.8172333 , 0.16299057],
       [0.89323974, 0.09931502],
       [0.9013182 , 0.0921194 ],
       [0.85704666, 0.12707546],
       [0.9396713 , 0.05618674],
       [0.78797436, 0.20272672],
       [0.9356741 , 0.05966723],
       [0.795316  , 0.19433782],
       [0.98980945, 0.01240548],
       [0.8621533 , 0.12172905],
       [0.48907888, 0.5031639 ],
       [0.8735522 , 0.11581507],
       [0.84962237, 0.14266562],
       [0.7888224 , 0.20169878],
       [0.8925097 , 0.09672153],
       [0.72068876, 0.28294313],
       [0.9685781 , 0.03251988],
       [0.95513403, 0.04260641],
       [0.27834657, 0.71133524],
       [0.7019405 , 0.3004048 ],
       [0.8645088 , 0.12142619],
       [0.9596569 , 0.04045278],
       [0.7931147 , 0.19429159],
       [0.8025651 , 0.1872383 ],
       [0.9824856 , 0.02000946],
       [0.6491835 , 0.36217642],
       [0.8983369 , 0.09181073],
       [0.67281705, 0.33350366],
       [0.9277638 , 0.07248068],
       [0.8224764 , 0.16633868],
       [0.7482698 , 0.24620411],
       [0.82423663, 0.16491398],
       [0.7203897 , 0.27674663],
       [0.22828782, 0.77446055],
       [0.51752293, 0.4777241 ],
       [0.83196115, 0.1416451 ],
       [0.97820014, 0.02360094],
       [0.9513148 , 0.04733002],
       [0.7897066 , 0.20295838],
       [0.6428387 , 0.36985177],
       [0.70721126, 0.29145718],
       [0.8140749 , 0.17133188],
       [0.7693249 , 0.21546727],
       [0.70913595, 0.2895893 ],
       [0.663434  , 0.34482092],
       [0.56278497, 0.44610402],
       [0.81327814, 0.1791915 ],
       [0.8052474 , 0.18505779],
       [0.9160556 , 0.08087218],
       [0.99810183, 0.00238642],
       [0.80555946, 0.17502943],
       [0.9079876 , 0.08543849],
       [0.8427521 , 0.13185051],
       [0.73477256, 0.26253876],
       [0.836135  , 0.14694056],
       [0.9848833 , 0.01450154],
       [0.87387943, 0.10793996],
       [0.7211395 , 0.27590334],
       [0.95917916, 0.04321131],
       [0.84170675, 0.14337233],
       [0.8443134 , 0.13416752],
       [0.86005294, 0.12050721],
       [0.97771466, 0.02330056],
       [0.8598449 , 0.12249491],
       [0.8314774 , 0.15176049],
       [0.76918507, 0.2253344 ],
       [0.83559895, 0.14165518],
       [0.8827878 , 0.09904909],
       [0.7913948 , 0.19041362],
       [0.62565416, 0.38985354],
       [0.7101301 , 0.28835702],
       [0.25530976, 0.7503669 ],
       [0.66603684, 0.34167933],
       [0.79508483, 0.19185352],
       [0.7816107 , 0.20983809],
       [0.6322541 , 0.3826146 ],
       [0.897434  , 0.10704702],
       [0.5054842 , 0.48866054],
       [0.97735244, 0.02435818],
       [0.4625747 , 0.54680735],
       [0.8745384 , 0.1065554 ],
       [0.6658597 , 0.34189305],
       [0.92876744, 0.06509054],
       [0.84805465, 0.13082957],
       [0.8229344 , 0.16891605],
       [0.81549025, 0.16616428],
       [0.7489313 , 0.24480551],
       [0.8184553 , 0.16240612],
       [0.8827981 , 0.10028648],
       [0.90467304, 0.09041017],
       [0.8098972 , 0.17635295],
       [0.82562625, 0.15390304],
       [0.765452  , 0.22652021],
       [0.7860123 , 0.19762829],
       [0.8268949 , 0.15536353],
       [0.8246462 , 0.15938121],
       [0.82164824, 0.15527114],
       [0.7574421 , 0.23836297],
       [0.99638546, 0.00419858],
       [0.97072124, 0.02748635],
       [0.36530465, 0.6249255 ],
       [0.88693863, 0.09623009],
       [0.91327405, 0.0788846 ],
       [0.98726934, 0.01415756],
       [0.9518827 , 0.04592541],
       [0.7441096 , 0.2501771 ],
       [0.8243909 , 0.14905298],
       [0.8069252 , 0.17767018],
       [0.911662  , 0.07642832],
       [0.6457699 , 0.34730887],
       [0.69497675, 0.30688268],
       [0.78931236, 0.19047353],
       [0.90528727, 0.08691472],
       [0.9258424 , 0.06747016],
       [0.8828025 , 0.10029677],
       [0.25737792, 0.7585975 ],
       [0.6689396 , 0.33817768],
       [0.7834246 , 0.20535249],
       [0.87226295, 0.11672029],
       [0.56281215, 0.44608334],
       [0.8003204 , 0.18869027],
       [0.66881543, 0.33832738],
       [0.9377966 , 0.05881181],
       [0.93049574, 0.06665677],
       [0.91692126, 0.07624745],
       [0.52202046, 0.4765541 ],
       [0.8868133 , 0.09769583],
       [0.8856156 , 0.09880361],
       [0.7238609 , 0.27284452],
       [0.85363317, 0.12202671],
       [0.7526008 , 0.24494684],
       [0.9447948 , 0.05122373],
       [0.6323042 , 0.3825557 ],
       [0.98486865, 0.01333237],
       [0.82040346, 0.1714459 ],
       [0.5067081 , 0.4841238 ],
       [0.7624288 , 0.22982877],
       [0.9852759 , 0.01645109],
       [0.9415524 , 0.0475471 ],
       [0.9026245 , 0.08752465],
       [0.7947118 , 0.19502112],
       [0.9911491 , 0.01066425],
       [0.84805465, 0.13082957],
       [0.8519839 , 0.13242155],
       [0.8805802 , 0.10782593],
       [0.9074293 , 0.08450001],
       [0.89174056, 0.0940676 ],
       [0.9529761 , 0.04322544],
       [0.7708412 , 0.22908038],
       [0.83661294, 0.14571777],
       [0.8169657 , 0.1664449 ],
       [0.98704994, 0.01453927],
       [0.8638823 , 0.11571863],
       [0.952664  , 0.04477882],
       [0.8740809 , 0.10923928],
       [0.82726717, 0.15537122],
       [0.76504064, 0.22639996],
       [0.9449541 , 0.05306602],
       [0.85595673, 0.13157591],
       [0.7264819 , 0.270845  ],
       [0.9943219 , 0.00612968],
       [0.54112893, 0.45985833],
       [0.8144506 , 0.17628875],
       [0.8803662 , 0.1053845 ],
       [0.557444  , 0.44576666],
       [0.7880431 , 0.20521715],
       [0.9287621 , 0.06657487],
       [0.30894464, 0.67730534],
       [0.75544953, 0.23683017],
       [0.81989324, 0.16363844],
       [0.84276706, 0.1318559 ],
       [0.8831136 , 0.10233819],
       [0.9694277 , 0.03240877],
       [0.963296  , 0.03356117],
       [0.79471874, 0.19681877],
       [0.71012014, 0.28836936],
       [0.71821445, 0.27919415],
       [0.8881798 , 0.10350463],
       [0.97919655, 0.0225313 ],
       [0.490056  , 0.50108755],
       [0.9085932 , 0.08118808],
       [0.7767089 , 0.21688616],
       [0.85392773, 0.13072473],
       [0.80310905, 0.18555325],
       [0.89382863, 0.09051093],
       [0.8340199 , 0.14880452],
       [0.7937905 , 0.19849971],
       [0.941879  , 0.05863649],
       [0.9621376 , 0.03906208],
       [0.90391666, 0.08800793],
       [0.5589172 , 0.43728423],
       [0.8355305 , 0.14599788],
       [0.78035074, 0.20806456],
       [0.6296663 , 0.38554865],
       [0.7853609 , 0.19765356],
       [0.8636102 , 0.11690989],
       [0.74295706, 0.25414228],
       [0.7735085 , 0.21828058],
       [0.76373965, 0.22837922],
       [0.69737244, 0.30401546],
       [0.86661124, 0.12642145],
       [0.83685124, 0.14214456],
       [0.75585735, 0.23496366],
       [0.9934175 , 0.00739205],
       [0.69415736, 0.30786383],
       [0.8882389 , 0.10353312],
       [0.8964052 , 0.09182698],
       [0.9429648 , 0.05528173],
       [0.811767  , 0.17594892],
       [0.7640476 , 0.22803977],
       [0.9815217 , 0.01987991],
       [0.4365226 , 0.5519783 ],
       [0.8562165 , 0.12336972],
       [0.9268186 , 0.07297239],
       [0.9537387 , 0.04523081],
       [0.8247087 , 0.15126061],
       [0.90432394, 0.0835937 ],
       [0.71578705, 0.2819273 ],
       [0.8521757 , 0.12716562],
       [0.99061227, 0.01124409],
       [0.8539276 , 0.13072658],
       [0.9886072 , 0.01292309],
       [0.765175  , 0.22680384],
       [0.8380286 , 0.14732224],
       [0.78287756, 0.2008942 ],
       [0.9847173 , 0.01620194],
       [0.95996296, 0.03997028],
       [0.8341542 , 0.15630215],
       [0.7233032 , 0.27347112],
       [0.6375933 , 0.3762012 ],
       [0.83559895, 0.14165524],
       [0.7492439 , 0.24445766],
       [0.7812792 , 0.21517193],
       [0.7753495 , 0.2162117 ],
       [0.8850757 , 0.10446665],
       [0.93323576, 0.06266966],
       [0.85564435, 0.12754378],
       [0.8683566 , 0.1125344 ],
       [0.8898554 , 0.09842378],
       [0.6391115 , 0.37436312],
       [0.8907423 , 0.10788971],
       [0.78202677, 0.21242937],
       [0.5596835 , 0.43372554],
       [0.75624335, 0.23668078],
       [0.8491944 , 0.13519767],
       [0.9940078 , 0.00703633],
       [0.76913136, 0.22275516],
       [0.7383299 , 0.2566297 ],
       [0.83196115, 0.1416451 ],
       [0.95288104, 0.04581937],
       [0.94789386, 0.05163261],
       [0.6487239 , 0.3627322 ],
       [0.72713137, 0.26917216],
       [0.9777493 , 0.02439725],
       [0.76769936, 0.2173596 ],
       [0.46587554, 0.5232637 ],
       [0.69595265, 0.30571443],
       [0.8654916 , 0.11795756],
       [0.76293814, 0.22437596],
       [0.8490147 , 0.13283706],
       [0.4980491 , 0.49549633],
       [0.93705463, 0.05901679],
       [0.73686665, 0.2588185 ],
       [0.9003221 , 0.09230301],
       [0.99068236, 0.00920403],
       [0.9178494 , 0.0679715 ],
       [0.92917883, 0.07288495],
       [0.9086805 , 0.08038926],
       [0.8615128 , 0.12199077],
       [0.76163983, 0.2259875 ],
       [0.7571218 , 0.23926395],
       [0.8143214 , 0.16754046],
       [0.7011995 , 0.29913366],
       [0.4493968 , 0.53761876],
       [0.5844953 , 0.4293918 ],
       [0.66480505, 0.34316587],
       [0.8989289 , 0.09128138],
       [0.83016765, 0.15247396],
       [0.9477207 , 0.04851198],
       [0.89457273, 0.09150144],
       [0.7030227 , 0.29717997],
       [0.80507135, 0.17099524],
       [0.6847554 , 0.31914097],
       [0.35410982, 0.6375737 ],
       [0.8018389 , 0.16976744],
       [0.86822563, 0.13032609],
       [0.96382153, 0.03761247],
       [0.9546323 , 0.04322195],
       [0.81418383, 0.16257334],
       [0.98493725, 0.01625243],
       [0.81553787, 0.16905802],
       [0.7526008 , 0.24494684],
       [0.7967277 , 0.19274235],
       [0.70807296, 0.29962057],
       [0.8373423 , 0.14422202],
       [0.87978446, 0.10925198],
       [0.75754464, 0.23836765],
       [0.8328947 , 0.14433771],
       [0.71165013, 0.28659   ],
       [0.9313622 , 0.06470695],
       [0.81121194, 0.17112985],
       [0.989533  , 0.01005626],
       [0.91263795, 0.08576408],
       [0.993186  , 0.0077939 ],
       [0.8197834 , 0.17292807],
       [0.9095595 , 0.08224407],
       [0.86674076, 0.12054086],
       [0.79268324, 0.18802595],
       [0.6577122 , 0.35175624],
       [0.7897984 , 0.20059016],
       [0.89480114, 0.09426716],
       [0.809883  , 0.16463321],
       [0.89452964, 0.09261611],
       [0.90289986, 0.10194433],
       [0.826264  , 0.1543738 ],
       [0.8699299 , 0.11362642],
       [0.7616544 , 0.22622669],
       [0.8862726 , 0.09899142],
       [0.98407483, 0.01731575],
       [0.99399185, 0.00555447],
       [0.7959668 , 0.19360203],
       [0.92649436, 0.07479933],
       [0.74515903, 0.25002185],
       [0.7881117 , 0.20250678],
       [0.9786204 , 0.0188629 ],
       [0.65056145, 0.36051032],
       [0.84890765, 0.13411587],
       [0.8644889 , 0.12568703],
       [0.7341857 , 0.26126522],
       [0.8168857 , 0.16231203],
       [0.29409206, 0.6912733 ],
       [0.8843872 , 0.10705245],
       [0.84792876, 0.13541624],
       [0.7940681 , 0.19574943],
       [0.25913054, 0.73527575],
       [0.65833783, 0.34797335],
       [0.9253056 , 0.06957215],
       [0.8726978 , 0.11308879],
       [0.8980159 , 0.0892618 ],
       [0.9005525 , 0.08778408],
       [0.754886  , 0.24397746],
       [0.8250781 , 0.16723749],
       [0.92882776, 0.06854531],
       [0.8398119 , 0.14096966],
       [0.77806234, 0.21397439],
       [0.92946184, 0.06447199],
       [0.7885468 , 0.1979518 ],
       [0.87622327, 0.10740441],
       [0.8837646 , 0.10200983],
       [0.8548388 , 0.12815627],
       [0.94595826, 0.05370975],
       [0.944719  , 0.05031231],
       [0.8268335 , 0.15403801],
       [0.90277874, 0.08253345],
       [0.9303385 , 0.0667448 ],
       [0.8812636 , 0.10318407],
       [0.9908185 , 0.0110786 ],
       [0.9272729 , 0.06636468],
       [0.79322445, 0.19303834],
       [0.31767583, 0.6799827 ],
       [0.7974537 , 0.19502512],
       [0.77573764, 0.21596906],
       [0.8068774 , 0.179346  ],
       [0.6964    , 0.30517906],
       [0.86627376, 0.1143479 ],
       [0.91197777, 0.07765055],
       [0.82841766, 0.15465057],
       [0.78644603, 0.2044017 ],
       [0.77428484, 0.21748748],
       [0.7937905 , 0.19849971],
       [0.9370693 , 0.05998075],
       [0.8228118 , 0.1662457 ],
       [0.8536421 , 0.1220094 ],
       [0.39338714, 0.5877414 ],
       [0.9644146 , 0.03826284],
       [0.8703387 , 0.10909301],
       [0.78733826, 0.20338637]], dtype=float32)

In [27]:
y_pred_class = np.argmax(predictions, axis = 1)

In [28]:
y_pred_class

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [200]:
predictions = pd.DataFrame(y_pred_class, columns=['Survived'])

In [201]:
test = pd.read_csv('../data/Titanic/test.csv')
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv('y_test_ver_7.csv', sep=",", index = False)