In [ ]:
#Ver2.와의 차이점 

#그레디언트 부스팅 트리 사용

# Step 3: Prepare Data for Consumption

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [37]:
t_train = pd.read_csv('../data/Titanic/train.csv')
t_test = pd.read_csv('../data/Titanic/test.csv')

In [38]:
#두 파일을 묶어 데이터 전처리 준비
data_cleaner = [t_train, t_test]

In [39]:
t_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [40]:
t_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
#결측치 제거
for dataset in data_cleaner:    
    #결측치를 중간값으로 대체
    dataset['Age'].fillna(dataset['Age'].median(), inplace = True)

    #결측치를 가장 많은 빈도의 항구로 대체
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace = True)

    #결측치를 중간값으로 대체
    dataset['Fare'].fillna(dataset['Fare'].median(), inplace = True)
    
    #결측치를 0으로 대체
    dataset['Cabin'].fillna(0, inplace = True)

In [42]:
#상호작용/다항식 추가
for dataset in data_cleaner :    
    #가족 수 컬럼 생성 : 부모님 + 형제 자매 + 자신
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
    
    #객실 여부 컬럼 생성 : 객실이 있으면 1, 없으면 0
    dataset['Have_Cabin'] = 1
    dataset['Have_Cabin'].loc[dataset['Cabin'] == 0 ] = 0
    
    #혼자 여행 여부 추가 : 혼자면 1, 가족이 있으면 0
    dataset['IsAlone'] = 1 
    dataset['IsAlone'].loc[dataset['FamilySize'] > 1] = 0  

    #타이틀만 가져와서 칼럼 생성
    dataset['Title'] = dataset['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]
    
    #나이별 카테고리 칼럼 생성
    dataset['age_cat'] = pd.cut(dataset['Age'], 
                             bins=[0, 3, 7, 15, 30, 60, 100], 
                             include_lowest=True, 
                             labels=['baby', 'children', 'teenage', 
                                     'young', 'adult', 'old']) 
   
    #이름 길이 컬럼 추가
    for i in data_cleaner :
        i['Name_Len'] = i['Name'].apply(lambda x: len(x))
    
    #티겟값 길이 추가
    for i in data_cleaner :
        i['Fare_Str'] = i['Fare'].apply(lambda x: str(x))
        i['Fare_Len'] = i['Fare_Str'].apply(lambda x: len(x))

C:\Users\a\Anaconda3\lib\site-packages\pandas\core\indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [43]:
#타이틀 정리하기
male = ['Capt', 'Col', 'Don',  'Dr', 'Jonkheer',  'Major', 'Master', 'Mr', 'Rev', 'Sir']
for dataset in data_cleaner :
    for i in range(0, len(dataset)) :
        if dataset['Title'][i] in male:
            dataset['Title'][i]  = 'Mr'
        else : 
            dataset['Title'][i] = 'Mrs'

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
t_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Have_Cabin,IsAlone,Title,age_cat,Name_Len,Fare_Str,Fare_Len
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,2,0,0,Mr,young,23,7.25,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,1,0,Mrs,adult,51,71.2833,7
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,1,0,1,Mrs,young,22,7.925,5
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,1,0,Mrs,adult,44,53.1,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,1,0,1,Mr,adult,24,8.05,4
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,0,Q,1,0,1,Mr,young,16,8.4583,6
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,1,1,Mr,adult,23,51.8625,7
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S,5,0,0,Mr,baby,30,21.075,6
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S,3,0,0,Mrs,young,49,11.1333,7
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C,2,0,0,Mrs,teenage,35,30.0708,7
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,1,0,Mrs,children,31,16.7,4
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,1,1,Mrs,adult,24,26.55,5
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S,1,0,1,Mr,young,30,8.05,4
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S,7,0,0,Mr,adult,27,31.275,6
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S,1,0,1,Mrs,teenage,36,7.8542,6
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S,1,0,1,Mrs,adult,32,16.0,4
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q,6,0,0,Mr,baby,20,29.125,6
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,244373,13.0000,0,S,1,0,1,Mr,young,28,13.0,4
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S,2,0,0,Mrs,adult,55,18.0,4
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,2649,7.2250,0,C,1,0,1,Mrs,young,23,7.225,5
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,0,S,1,0,1,Mr,adult,20,26.0,4
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,1,1,1,Mr,adult,21,13.0,4
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,0,Q,1,0,1,Mrs,teenage,27,8.0292,6
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1,1,1,Mr,young,28,35.5,4
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,0,S,5,0,0,Mrs,teenage,29,21.075,6
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,0,S,7,0,0,Mrs,adult,57,31.3875,7
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.0,0,0,2631,7.2250,0,C,1,0,1,Mr,young,23,7.225,5
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,6,1,0,Mr,young,30,263.0,5
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28.0,0,0,330959,7.8792,0,Q,1,0,1,Mrs,young,29,7.8792,6
29,30,0,3,"Todoroff, Mr. Lalio",male,28.0,0,0,349216,7.8958,0,S,1,0,1,Mr,young,19,7.8958,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,0,S,2,0,0,Mr,young,27,11.5,4
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,1,1,1,Mrs,adult,51,25.9292,7
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28.0,8,2,CA. 2343,69.5500,0,S,11,0,0,Mrs,young,33,69.55,5
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,0,S,1,0,1,Mr,young,22,13.0,4
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,0,S,1,0,1,Mrs,adult,24,13.0,4
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,0,C,2,0,0,Mrs,young,28,13.8583,7
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,1,1,1,Mr,adult,36,50.4958,7
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28.0,0,0,345777,9.5000,0,S,1,0,1,Mr,young,27,9.5,3
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,0,S,3,0,0,Mr,children,31,11.1333,7
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,0,S,1,0,1,Mr,young,17,7.8958,6
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3,1,0,Mrs,adult,48,52.5542,7
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,1,1,Mr,adult,24,5.0,3
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,0,S,1,0,1,Mr,adult,27,9.0,3
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,0,C,2,0,0,Mrs,young,37,24.0,4
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,0,C,1,0,1,Mrs,teenage,32,7.225,5
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,0,S,1,0,1,Mr,young,29,9.8458,6
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,0,S,1,0,1,Mr,young,20,7.8958,6
878,879,0,3,"Laleff, Mr. Kristo",male,28.0,0,0,349217,7.8958,0,S,1,0,1,Mr,young,18,7.8958,6
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2,1,0,Mrs,adult,45,83.1583,7
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,0,S,2,0,0,Mrs,young,44,26.0,4
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,0,S,1,0,1,Mr,adult,18,7.8958,6
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,0,S,1,0,1,Mrs,young,28,10.5167,7
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,1,0,1,Mr,young,29,10.5,4
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,1,0,1,Mr,young,22,7.05,4
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,0,Q,6,0,0,Mrs,adult,36,29.125,6
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,1,0,1,Mr,young,21,13.0,4
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,1,1,Mrs,young,28,30.0,4
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,0,S,4,0,0,Mrs,young,40,23.45,5
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,1,1,Mr,young,21,30.0,4
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,1,0,1,Mr,adult,19,7.75,4

In [45]:
#타겟값 설정
t_train.target = t_train['Survived']

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [46]:
#필요없는 컬럼 제거
drop_column = ['PassengerId','Cabin', 'Ticket', 'Name', 'Fare_Str']
for dataset in data_cleaner : 
    dataset.drop(drop_column, axis=1, inplace = True)

In [47]:
t_train.data = t_train.drop("Survived", axis = 1)

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [48]:
t_train.data.shape

(891, 14)

In [49]:
data_dummies = pd.get_dummies(t_train.data)

In [50]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 23 columns):
Pclass              891 non-null int64
Age                 891 non-null float64
SibSp               891 non-null int64
Parch               891 non-null int64
Fare                891 non-null float64
FamilySize          891 non-null int64
Have_Cabin          891 non-null int64
IsAlone             891 non-null int64
Name_Len            891 non-null int64
Fare_Len            891 non-null int64
Sex_female          891 non-null uint8
Sex_male            891 non-null uint8
Embarked_C          891 non-null uint8
Embarked_Q          891 non-null uint8
Embarked_S          891 non-null uint8
Title_Mr            891 non-null uint8
Title_Mrs           891 non-null uint8
age_cat_baby        891 non-null uint8
age_cat_children    891 non-null uint8
age_cat_teenage     891 non-null uint8
age_cat_young       891 non-null uint8
age_cat_adult       891 non-null uint8
age_cat_old         891 non-null uint8
dtypes: float64(2), int64(8), uint8(13)
memory usage: 81.0 KB

In [51]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(data_dummies)

X_scaled = scaler.transform(data_dummies)

In [52]:
X_scaled

array([[ 0.82737724, -0.56573646,  0.43279337, ...,  0.87827773,
        -0.68224668, -0.15911146],
       [-1.56610693,  0.66386103,  0.43279337, ..., -1.138592  ,
         1.46574551, -0.15911146],
       [ 0.82737724, -0.25833709, -0.4745452 , ...,  0.87827773,
        -0.68224668, -0.15911146],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ...,  0.87827773,
        -0.68224668, -0.15911146],
       [-1.56610693, -0.25833709, -0.4745452 , ...,  0.87827773,
        -0.68224668, -0.15911146],
       [ 0.82737724,  0.20276197, -0.4745452 , ..., -1.138592  ,
         1.46574551, -0.15911146]])

# Step 5: Model Data

In [53]:
X_scaled.shape

(891, 23)

In [58]:
from sklearn.ensemble import GradientBoostingClassifier

gbrt = GradientBoostingClassifier(random_state = 0) 
gbrt.fit(X_scaled, t_train.target)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

# Step 6: Validate and Implement

In [55]:
t_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Name_Len,Fare_Len,FamilySize,Have_Cabin,IsAlone,Title,age_cat
0,3,male,34.5,0,0,7.8292,Q,16,6,1,0,1,Mr,adult
1,3,female,47.0,1,0,7.0000,S,32,3,2,0,0,Mrs,adult
2,2,male,62.0,0,0,9.6875,Q,25,6,1,0,1,Mr,old
3,3,male,27.0,0,0,8.6625,S,16,6,1,0,1,Mr,young
4,3,female,22.0,1,1,12.2875,S,44,7,3,0,0,Mrs,young
5,3,male,14.0,0,0,9.2250,S,26,5,1,0,1,Mr,teenage
6,3,female,30.0,0,0,7.6292,Q,20,6,1,0,1,Mrs,young
7,2,male,26.0,1,1,29.0000,S,28,4,3,0,0,Mr,young
8,3,female,18.0,0,0,7.2292,C,41,6,1,0,1,Mrs,young
9,3,male,21.0,2,0,24.1500,S,23,5,3,0,0,Mr,young
10,3,male,27.0,0,0,7.8958,S,16,6,1,0,1,Mr,young
11,1,male,46.0,0,0,26.0000,S,26,4,1,0,1,Mr,adult
12,1,female,23.0,1,0,82.2667,S,45,7,2,1,0,Mrs,young
13,2,male,63.0,1,0,26.0000,S,20,4,2,0,0,Mr,old
14,1,female,47.0,1,0,61.1750,S,55,6,2,1,0,Mrs,adult
15,2,female,24.0,1,0,27.7208,C,45,7,2,0,0,Mrs,young
16,2,male,35.0,0,0,12.3500,Q,17,5,1,0,1,Mr,adult
17,3,male,21.0,0,0,7.2250,C,17,5,1,0,1,Mr,young
18,3,female,27.0,1,0,7.9250,S,28,5,2,0,0,Mrs,young
19,3,female,45.0,0,0,7.2250,C,37,5,1,0,1,Mrs,adult
20,1,male,55.0,1,0,59.4000,C,22,4,2,0,0,Mr,adult
21,3,male,9.0,0,1,3.1708,S,25,6,2,0,0,Mr,teenage
22,1,female,27.0,0,0,31.6833,S,36,7,1,0,1,Mrs,young
23,1,male,21.0,0,1,61.3792,C,31,7,2,0,0,Mr,young
24,1,female,48.0,1,3,262.3750,C,47,7,5,1,0,Mrs,adult
25,3,male,50.0,1,0,14.5000,S,23,4,2,0,0,Mr,adult
26,1,female,22.0,0,1,61.9792,C,28,7,2,1,0,Mrs,young
27,3,male,22.5,0,0,7.2250,C,17,5,1,0,1,Mr,young
28,1,male,41.0,0,0,30.5000,S,23,4,1,1,1,Mr,adult
29,3,male,27.0,2,0,21.6792,C,17,7,3,0,0,Mr,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,male,21.0,0,0,7.7500,Q,20,4,1,0,1,Mr,young
389,3,male,6.0,3,1,21.0750,S,27,6,5,0,0,Mr,children
390,1,male,23.0,0,0,93.5000,S,26,4,1,1,1,Mr,young
391,1,female,51.0,0,1,39.4000,S,46,4,2,1,0,Mrs,adult
392,3,male,13.0,0,2,20.2500,S,29,5,3,0,0,Mr,teenage
393,2,male,47.0,0,0,10.5000,S,20,4,1,0,1,Mr,adult
394,3,male,29.0,3,1,22.0250,S,24,6,5,0,0,Mr,young
395,1,female,18.0,1,0,60.0000,S,46,4,2,1,0,Mrs,young
396,3,male,24.0,0,0,7.2500,Q,20,4,1,0,1,Mr,young
397,1,female,48.0,1,1,79.2000,C,63,4,3,1,0,Mrs,adult
398,3,male,22.0,0,0,7.7750,S,30,5,1,0,1,Mr,young
399,3,male,31.0,0,0,7.7333,Q,24,6,1,0,1,Mr,adult
400,1,female,30.0,0,0,164.8667,S,23,8,1,1,1,Mrs,young
401,2,male,38.0,1,0,21.0000,S,15,4,2,0,0,Mr,adult
402,1,female,22.0,0,1,59.4000,C,30,4,2,0,0,Mrs,young
403,1,male,17.0,0,0,47.1000,S,22,4,1,0,1,Mr,young
404,1,male,43.0,1,0,27.7208,C,28,7,2,1,0,Mr,adult
405,2,male,20.0,0,0,13.8625,C,44,7,1,1,1,Mr,young
406,2,male,23.0,1,0,10.5000,S,25,4,2,0,0,Mr,young
407,1,male,50.0,1,1,211.5000,C,26,5,3,1,0,Mr,adult
408,3,female,27.0,0,0,7.7208,Q,31,6,1,0,1,Mrs,young
409,3,female,3.0,1,1,13.7750,S,25,6,3,0,0,Mrs,baby
410,3,female,27.0,0,0,7.7500,Q,22,4,1,0,1,Mrs,young
411,1,female,37.0,1,0,90.0000,Q,47,4,2,1,0,Mrs,adult
412,3,female,28.0,0,0,7.7750,S,30,5,1,0,1,Mrs,young
413,3,male,27.0,0,0,8.0500,S,18,4,1,0,1,Mr,young
414,1,female,39.0,0,0,108.9000,C,28,5,1,1,1,Mrs,adult
415,3,male,38.5,0,0,7.2500,S,28,4,1,0,1,Mr,adult
416,3,male,27.0,0,0,8.0500,S,19,4,1,0,1,Mr,young
417,3,male,27.0,1,1,22.3583,C,24,7,3,0,0,Mr,young

In [56]:
data_dummies2 = pd.get_dummies(t_test)

In [57]:
data_dummies2

,Pclass,Age,SibSp,Parch,Fare,Name_Len,Fare_Len,FamilySize,Have_Cabin,IsAlone,...,Embarked_Q,Embarked_S,Title_Mr,Title_Mrs,age_cat_baby,age_cat_children,age_cat_teenage,age_cat_young,age_cat_adult,age_cat_old
0,3,34.5,0,0,7.8292,16,6,1,0,1,...,1,0,1,0,0,0,0,0,1,0
1,3,47.0,1,0,7.0000,32,3,2,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2,62.0,0,0,9.6875,25,6,1,0,1,...,1,0,1,0,0,0,0,0,0,1
3,3,27.0,0,0,8.6625,16,6,1,0,1,...,0,1,1,0,0,0,0,1,0,0
4,3,22.0,1,1,12.2875,44,7,3,0,0,...,0,1,0,1,0,0,0,1,0,0
5,3,14.0,0,0,9.2250,26,5,1,0,1,...,0,1,1,0,0,0,1,0,0,0
6,3,30.0,0,0,7.6292,20,6,1,0,1,...,1,0,0,1,0,0,0,1,0,0
7,2,26.0,1,1,29.0000,28,4,3,0,0,...,0,1,1,0,0,0,0,1,0,0
8,3,18.0,0,0,7.2292,41,6,1,0,1,...,0,0,0,1,0,0,0,1,0,0
9,3,21.0,2,0,24.1500,23,5,3,0,0,...,0,1,1,0,0,0,0,1,0,0
10,3,27.0,0,0,7.8958,16,6,1,0,1,...,0,1,1,0,0,0,0,1,0,0
11,1,46.0,0,0,26.0000,26,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
12,1,23.0,1,0,82.2667,45,7,2,1,0,...,0,1,0,1,0,0,0,1,0,0
13,2,63.0,1,0,26.0000,20,4,2,0,0,...,0,1,1,0,0,0,0,0,0,1
14,1,47.0,1,0,61.1750,55,6,2,1,0,...,0,1,0,1,0,0,0,0,1,0
15,2,24.0,1,0,27.7208,45,7,2,0,0,...,0,0,0,1,0,0,0,1,0,0
16,2,35.0,0,0,12.3500,17,5,1,0,1,...,1,0,1,0,0,0,0,0,1,0
17,3,21.0,0,0,7.2250,17,5,1,0,1,...,0,0,1,0,0,0,0,1,0,0
18,3,27.0,1,0,7.9250,28,5,2,0,0,...,0,1,0,1,0,0,0,1,0,0
19,3,45.0,0,0,7.2250,37,5,1,0,1,...,0,0,0,1,0,0,0,0,1,0
20,1,55.0,1,0,59.4000,22,4,2,0,0,...,0,0,1,0,0,0,0,0,1,0
21,3,9.0,0,1,3.1708,25,6,2,0,0,...,0,1,1,0,0,0,1,0,0,0
22,1,27.0,0,0,31.6833,36,7,1,0,1,...,0,1,0,1,0,0,0,1,0,0
23,1,21.0,0,1,61.3792,31,7,2,0,0,...,0,0,1,0,0,0,0,1,0,0
24,1,48.0,1,3,262.3750,47,7,5,1,0,...,0,0,0,1,0,0,0,0,1,0
25,3,50.0,1,0,14.5000,23,4,2,0,0,...,0,1,1,0,0,0,0,0,1,0
26,1,22.0,0,1,61.9792,28,7,2,1,0,...,0,0,0,1,0,0,0,1,0,0
27,3,22.5,0,0,7.2250,17,5,1,0,1,...,0,0,1,0,0,0,0,1,0,0
28,1,41.0,0,0,30.5000,23,4,1,1,1,...,0,1,1,0,0,0,0,0,1,0
29,3,27.0,2,0,21.6792,17,7,3,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,21.0,0,0,7.7500,20,4,1,0,1,...,1,0,1,0,0,0,0,1,0,0
389,3,6.0,3,1,21.0750,27,6,5,0,0,...,0,1,1,0,0,1,0,0,0,0
390,1,23.0,0,0,93.5000,26,4,1,1,1,...,0,1,1,0,0,0,0,1,0,0
391,1,51.0,0,1,39.4000,46,4,2,1,0,...,0,1,0,1,0,0,0,0,1,0
392,3,13.0,0,2,20.2500,29,5,3,0,0,...,0,1,1,0,0,0,1,0,0,0
393,2,47.0,0,0,10.5000,20,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
394,3,29.0,3,1,22.0250,24,6,5,0,0,...,0,1,1,0,0,0,0,1,0,0
395,1,18.0,1,0,60.0000,46,4,2,1,0,...,0,1,0,1,0,0,0,1,0,0
396,3,24.0,0,0,7.2500,20,4,1,0,1,...,1,0,1,0,0,0,0,1,0,0
397,1,48.0,1,1,79.2000,63,4,3,1,0,...,0,0,0,1,0,0,0,0,1,0
398,3,22.0,0,0,7.7750,30,5,1,0,1,...,0,1,1,0,0,0,0,1,0,0
399,3,31.0,0,0,7.7333,24,6,1,0,1,...,1,0,1,0,0,0,0,0,1,0
400,1,30.0,0,0,164.8667,23,8,1,1,1,...,0,1,0,1,0,0,0,1,0,0
401,2,38.0,1,0,21.0000,15,4,2,0,0,...,0,1,1,0,0,0,0,0,1,0
402,1,22.0,0,1,59.4000,30,4,2,0,0,...,0,0,0,1,0,0,0,1,0,0
403,1,17.0,0,0,47.1000,22,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
404,1,43.0,1,0,27.7208,28,7,2,1,0,...,0,0,1,0,0,0,0,0,1,0
405,2,20.0,0,0,13.8625,44,7,1,1,1,...,0,0,1,0,0,0,0,1,0,0
406,2,23.0,1,0,10.5000,25,4,2,0,0,...,0,1,1,0,0,0,0,1,0,0
407,1,50.0,1,1,211.5000,26,5,3,1,0,...,0,0,1,0,0,0,0,0,1,0
408,3,27.0,0,0,7.7208,31,6,1,0,1,...,1,0,0,1,0,0,0,1,0,0
409,3,3.0,1,1,13.7750,25,6,3,0,0,...,0,1,0,1,1,0,0,0,0,0
410,3,27.0,0,0,7.7500,22,4,1,0,1,...,1,0,0,1,0,0,0,1,0,0
411,1,37.0,1,0,90.0000,47,4,2,1,0,...,1,0,0,1,0,0,0,0,1,0
412,3,28.0,0,0,7.7750,30,5,1,0,1,...,0,1,0,1,0,0,0,1,0,0
413,3,27.0,0,0,8.0500,18,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
414,1,39.0,0,0,108.9000,28,5,1,1,1,...,0,0,0,1,0,0,0,0,1,0
415,3,38.5,0,0,7.2500,28,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
416,3,27.0,0,0,8.0500,19,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
417,3,27.0,1,1,22.3583,24,7,3,0,0,...,0,0,1,0,0,0,0,1,0,0

In [59]:
data_dummies2.shape

(418, 23)

In [60]:
Y_scaled = scaler.transform(data_dummies2)

In [61]:
predictions = gbrt.predict(Y_scaled)

In [62]:
predictions

array([1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [63]:
predictions = pd.DataFrame(y_pred_class, columns=['Survived'])

In [64]:
test = pd.read_csv('../data/Titanic/test.csv')
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv('y_test_ver_3.csv', sep=",", index = False)

In [ ]:
#score : 0.63157