In [ ]:
#Ver2.과의 차이점 

#전처리에 StandardScaler 적용
#예측모델에 신경망 적용

# Step 3: Prepare Data for Consumption

In [203]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [204]:
t_train = pd.read_csv('../data/Titanic/train.csv')
t_test = pd.read_csv('../data/Titanic/test.csv')

In [205]:
#두 파일을 묶어 데이터 전처리 준비
data_cleaner = [t_train, t_test]

In [206]:
t_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [207]:
t_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [208]:
#결측치 제거
for dataset in data_cleaner:    
    #결측치를 중간값으로 대체
    dataset['Age'].fillna(dataset['Age'].median(), inplace = True)

    #결측치를 가장 많은 빈도의 항구로 대체
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace = True)

    #결측치를 중간값으로 대체
    dataset['Fare'].fillna(dataset['Fare'].median(), inplace = True)
    
    #결측치를 0으로 대체
    dataset['Cabin'].fillna(0, inplace = True)

In [209]:
#상호작용/다항식 추가
for dataset in data_cleaner :    
    #가족 수 컬럼 생성 : 부모님 + 형제 자매 + 자신
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
    
    #객실 여부 컬럼 생성 : 객실이 있으면 1, 없으면 0
    dataset['Have_Cabin'] = 1
    dataset['Have_Cabin'].loc[dataset['Cabin'] == 0 ] = 0
    
    #혼자 여행 여부 추가 : 혼자면 1, 가족이 있으면 0
    dataset['IsAlone'] = 1 
    dataset['IsAlone'].loc[dataset['FamilySize'] > 1] = 0  

    #타이틀만 가져와서 칼럼 생성
    dataset['Title'] = dataset['Name'].str.split(", ", expand=True)[1].str.split(".", expand=True)[0]
    
    #나이별 카테고리 칼럼 생성
    dataset['age_cat'] = pd.cut(dataset['Age'], 
                             bins=[0, 3, 7, 15, 30, 60, 100], 
                             include_lowest=True, 
                             labels=['baby', 'children', 'teenage', 
                                     'young', 'adult', 'old']) 
   
    #이름 길이 컬럼 추가
    for i in data_cleaner :
        i['Name_Len'] = i['Name'].apply(lambda x: len(x))
    
    #티겟값 길이 추가
    for i in data_cleaner :
        i['Fare_Str'] = i['Fare'].apply(lambda x: str(x))
        i['Fare_Len'] = i['Fare_Str'].apply(lambda x: len(x))

C:\Users\a\Anaconda3\lib\site-packages\pandas\core\indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [210]:
#타이틀 정리하기
male = ['Capt', 'Col', 'Don',  'Dr', 'Jonkheer',  'Major', 'Master', 'Mr', 'Rev', 'Sir']
for dataset in data_cleaner :
    for i in range(0, len(dataset)) :
        if dataset['Title'][i] in male:
            dataset['Title'][i]  = 'Mr'
        else : 
            dataset['Title'][i] = 'Mrs'

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [211]:
t_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Have_Cabin,IsAlone,Title,age_cat,Name_Len,Fare_Str,Fare_Len
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S,2,0,0,Mr,young,23,7.25,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,1,0,Mrs,adult,51,71.2833,7
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S,1,0,1,Mrs,young,22,7.925,5
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,1,0,Mrs,adult,44,53.1,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S,1,0,1,Mr,adult,24,8.05,4
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,0,Q,1,0,1,Mr,young,16,8.4583,6
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,1,1,Mr,adult,23,51.8625,7
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S,5,0,0,Mr,baby,30,21.075,6
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S,3,0,0,Mrs,young,49,11.1333,7
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C,2,0,0,Mrs,teenage,35,30.0708,7
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,1,0,Mrs,children,31,16.7,4
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,1,1,Mrs,adult,24,26.55,5
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S,1,0,1,Mr,young,30,8.05,4
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S,7,0,0,Mr,adult,27,31.275,6
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S,1,0,1,Mrs,teenage,36,7.8542,6
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S,1,0,1,Mrs,adult,32,16.0,4
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q,6,0,0,Mr,baby,20,29.125,6
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,244373,13.0000,0,S,1,0,1,Mr,young,28,13.0,4
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S,2,0,0,Mrs,adult,55,18.0,4
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,2649,7.2250,0,C,1,0,1,Mrs,young,23,7.225,5
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,0,S,1,0,1,Mr,adult,20,26.0,4
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,1,1,1,Mr,adult,21,13.0,4
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,0,Q,1,0,1,Mrs,teenage,27,8.0292,6
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1,1,1,Mr,young,28,35.5,4
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,0,S,5,0,0,Mrs,teenage,29,21.075,6
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,0,S,7,0,0,Mrs,adult,57,31.3875,7
26,27,0,3,"Emir, Mr. Farred Chehab",male,28.0,0,0,2631,7.2250,0,C,1,0,1,Mr,young,23,7.225,5
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,6,1,0,Mr,young,30,263.0,5
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,28.0,0,0,330959,7.8792,0,Q,1,0,1,Mrs,young,29,7.8792,6
29,30,0,3,"Todoroff, Mr. Lalio",male,28.0,0,0,349216,7.8958,0,S,1,0,1,Mr,young,19,7.8958,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,0,S,2,0,0,Mr,young,27,11.5,4
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,1,1,1,Mrs,adult,51,25.9292,7
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,28.0,8,2,CA. 2343,69.5500,0,S,11,0,0,Mrs,young,33,69.55,5
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,0,S,1,0,1,Mr,young,22,13.0,4
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,0,S,1,0,1,Mrs,adult,24,13.0,4
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,0,C,2,0,0,Mrs,young,28,13.8583,7
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,1,1,1,Mr,adult,36,50.4958,7
868,869,0,3,"van Melkebeke, Mr. Philemon",male,28.0,0,0,345777,9.5000,0,S,1,0,1,Mr,young,27,9.5,3
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,0,S,3,0,0,Mr,children,31,11.1333,7
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,0,S,1,0,1,Mr,young,17,7.8958,6
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3,1,0,Mrs,adult,48,52.5542,7
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,1,1,Mr,adult,24,5.0,3
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,0,S,1,0,1,Mr,adult,27,9.0,3
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,0,C,2,0,0,Mrs,young,37,24.0,4
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,0,C,1,0,1,Mrs,teenage,32,7.225,5
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,0,S,1,0,1,Mr,young,29,9.8458,6
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,0,S,1,0,1,Mr,young,20,7.8958,6
878,879,0,3,"Laleff, Mr. Kristo",male,28.0,0,0,349217,7.8958,0,S,1,0,1,Mr,young,18,7.8958,6
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2,1,0,Mrs,adult,45,83.1583,7
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,0,S,2,0,0,Mrs,young,44,26.0,4
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,0,S,1,0,1,Mr,adult,18,7.8958,6
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,0,S,1,0,1,Mrs,young,28,10.5167,7
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,0,S,1,0,1,Mr,young,29,10.5,4
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,0,S,1,0,1,Mr,young,22,7.05,4
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,0,Q,6,0,0,Mrs,adult,36,29.125,6
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S,1,0,1,Mr,young,21,13.0,4
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,1,1,Mrs,young,28,30.0,4
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,0,S,4,0,0,Mrs,young,40,23.45,5
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,1,1,Mr,young,21,30.0,4
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q,1,0,1,Mr,adult,19,7.75,4

In [212]:
#타겟값 설정
t_train.target = t_train['Survived']

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [213]:
#필요없는 컬럼 제거
drop_column = ['PassengerId','Cabin', 'Ticket', 'Name', 'Fare_Str']
for dataset in data_cleaner : 
    dataset.drop(drop_column, axis=1, inplace = True)

In [214]:
t_train.data = t_train.drop("Survived", axis = 1)

C:\Users\a\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [215]:
t_train.data.shape

(891, 14)

In [216]:
data_dummies = pd.get_dummies(t_train.data)

In [217]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 23 columns):
Pclass              891 non-null int64
Age                 891 non-null float64
SibSp               891 non-null int64
Parch               891 non-null int64
Fare                891 non-null float64
FamilySize          891 non-null int64
Have_Cabin          891 non-null int64
IsAlone             891 non-null int64
Name_Len            891 non-null int64
Fare_Len            891 non-null int64
Sex_female          891 non-null uint8
Sex_male            891 non-null uint8
Embarked_C          891 non-null uint8
Embarked_Q          891 non-null uint8
Embarked_S          891 non-null uint8
Title_Mr            891 non-null uint8
Title_Mrs           891 non-null uint8
age_cat_baby        891 non-null uint8
age_cat_children    891 non-null uint8
age_cat_teenage     891 non-null uint8
age_cat_young       891 non-null uint8
age_cat_adult       891 non-null uint8
age_cat_old         891 non-null uint8
dtypes: float64(2), int64(8), uint8(13)
memory usage: 81.0 KB

In [218]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(data_dummies)

X_scaled = scaler.transform(data_dummies)

In [219]:
X_scaled

array([[ 0.82737724, -0.56573646,  0.43279337, ...,  0.87827773,
        -0.68224668, -0.15911146],
       [-1.56610693,  0.66386103,  0.43279337, ..., -1.138592  ,
         1.46574551, -0.15911146],
       [ 0.82737724, -0.25833709, -0.4745452 , ...,  0.87827773,
        -0.68224668, -0.15911146],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ...,  0.87827773,
        -0.68224668, -0.15911146],
       [-1.56610693, -0.25833709, -0.4745452 , ...,  0.87827773,
        -0.68224668, -0.15911146],
       [ 0.82737724,  0.20276197, -0.4745452 , ..., -1.138592  ,
         1.46574551, -0.15911146]])

# Step 5: Model Data

In [220]:
X_scaled.shape

(891, 23)

In [221]:
from keras.models import Sequential, Model
from keras.layers import Dense, Dropout, Input 
from keras.utils import to_categorical
t_train.target = to_categorical(t_train.target)

model = Sequential()
model.add(Dense(128,activation="relu",input_shape = (23, ) ))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dense(2, activation='so'))

model.compile(loss='binary_crossentropy', optimizer= 'adam', metrics=['accuracy'])


model.fit(X_scaled, t_train.target, batch_size=5, epochs= 100)

Epoch 1/100
891/891 [==============================] - 1s 1ms/step - loss: 0.6129 - acc: 0.6790
Epoch 2/100
891/891 [==============================] - 0s 303us/step - loss: 0.5199 - acc: 0.7385
Epoch 3/100
891/891 [==============================] - 0s 303us/step - loss: 0.4922 - acc: 0.7823
Epoch 4/100
891/891 [==============================] - 0s 319us/step - loss: 0.4908 - acc: 0.7912
Epoch 5/100
891/891 [==============================] - 0s 304us/step - loss: 0.4519 - acc: 0.7935
Epoch 6/100
891/891 [==============================] - 0s 297us/step - loss: 0.4584 - acc: 0.8148
Epoch 7/100
891/891 [==============================] - 0s 308us/step - loss: 0.4444 - acc: 0.8249
Epoch 8/100
891/891 [==============================] - 0s 301us/step - loss: 0.4542 - acc: 0.8002
Epoch 9/100
891/891 [==============================] - 0s 301us/step - loss: 0.4360 - acc: 0.8159
Epoch 10/100
891/891 [==============================] - 0s 310us/step - loss: 0.4293 - acc: 0.8215
Epoch 11/100
891/891 [==============================] - 0s 297us/step - loss: 0.4500 - acc: 0.8215
Epoch 12/100
891/891 [==============================] - 0s 311us/step - loss: 0.4160 - acc: 0.8182
Epoch 13/100
891/891 [==============================] - 0s 314us/step - loss: 0.4339 - acc: 0.8159
Epoch 14/100
891/891 [==============================] - 0s 314us/step - loss: 0.4228 - acc: 0.8249
Epoch 15/100
891/891 [==============================] - 0s 332us/step - loss: 0.4156 - acc: 0.8193
Epoch 16/100
891/891 [==============================] - 0s 305us/step - loss: 0.4266 - acc: 0.8036
Epoch 17/100
891/891 [==============================] - 0s 318us/step - loss: 0.4136 - acc: 0.8227
Epoch 18/100
891/891 [==============================] - 0s 312us/step - loss: 0.4151 - acc: 0.8260
Epoch 19/100
891/891 [==============================] - 0s 309us/step - loss: 0.3994 - acc: 0.8384
Epoch 20/100
891/891 [==============================] - 0s 321us/step - loss: 0.4080 - acc: 0.8316
Epoch 21/100
891/891 [==============================] - 0s 312us/step - loss: 0.4197 - acc: 0.8474
Epoch 22/100
891/891 [==============================] - 0s 320us/step - loss: 0.4016 - acc: 0.8249
Epoch 23/100
891/891 [==============================] - 0s 312us/step - loss: 0.4016 - acc: 0.8339
Epoch 24/100
891/891 [==============================] - 0s 315us/step - loss: 0.4039 - acc: 0.8272
Epoch 25/100
891/891 [==============================] - 0s 337us/step - loss: 0.4047 - acc: 0.8294
Epoch 26/100
891/891 [==============================] - 0s 301us/step - loss: 0.3978 - acc: 0.8350
Epoch 27/100
891/891 [==============================] - 0s 305us/step - loss: 0.3961 - acc: 0.8350
Epoch 28/100
891/891 [==============================] - 0s 324us/step - loss: 0.3876 - acc: 0.8440
Epoch 29/100
891/891 [==============================] - 0s 331us/step - loss: 0.3903 - acc: 0.8350
Epoch 30/100
891/891 [==============================] - 0s 311us/step - loss: 0.3895 - acc: 0.8316
Epoch 31/100
891/891 [==============================] - 0s 321us/step - loss: 0.3777 - acc: 0.8496
Epoch 32/100
891/891 [==============================] - 0s 313us/step - loss: 0.3896 - acc: 0.8395
Epoch 33/100
891/891 [==============================] - 0s 302us/step - loss: 0.3891 - acc: 0.8462
Epoch 34/100
891/891 [==============================] - 0s 402us/step - loss: 0.3864 - acc: 0.8204
Epoch 35/100
891/891 [==============================] - 0s 306us/step - loss: 0.3860 - acc: 0.8328
Epoch 36/100
891/891 [==============================] - 0s 329us/step - loss: 0.3906 - acc: 0.8429
Epoch 37/100
891/891 [==============================] - 0s 303us/step - loss: 0.3966 - acc: 0.8418
Epoch 38/100
891/891 [==============================] - 0s 319us/step - loss: 0.3756 - acc: 0.8418
Epoch 39/100
891/891 [==============================] - 0s 364us/step - loss: 0.3859 - acc: 0.8429
Epoch 40/100
891/891 [==============================] - 0s 367us/step - loss: 0.3695 - acc: 0.8451
Epoch 41/100
891/891 [==============================] - 0s 305us/step - loss: 0.3777 - acc: 0.8418
Epoch 42/100
891/891 [==============================] - 0s 310us/step - loss: 0.3675 - acc: 0.8429
Epoch 43/100
891/891 [==============================] - 0s 299us/step - loss: 0.3660 - acc: 0.8563
Epoch 44/100
891/891 [==============================] - 0s 293us/step - loss: 0.3818 - acc: 0.8395
Epoch 45/100
891/891 [==============================] - 0s 296us/step - loss: 0.3588 - acc: 0.8440
Epoch 46/100
891/891 [==============================] - 0s 303us/step - loss: 0.3608 - acc: 0.8563
Epoch 47/100
891/891 [==============================] - 0s 305us/step - loss: 0.3841 - acc: 0.8496
Epoch 48/100
891/891 [==============================] - 0s 300us/step - loss: 0.3576 - acc: 0.8485
Epoch 49/100
891/891 [==============================] - 0s 361us/step - loss: 0.3660 - acc: 0.8530
Epoch 50/100
891/891 [==============================] - 0s 329us/step - loss: 0.3783 - acc: 0.8395
Epoch 51/100
891/891 [==============================] - 0s 411us/step - loss: 0.3579 - acc: 0.8485
Epoch 52/100
891/891 [==============================] - 0s 308us/step - loss: 0.3605 - acc: 0.8552
Epoch 53/100
891/891 [==============================] - 0s 304us/step - loss: 0.3597 - acc: 0.8440
Epoch 54/100
891/891 [==============================] - 0s 308us/step - loss: 0.3794 - acc: 0.8485
Epoch 55/100
891/891 [==============================] - 0s 283us/step - loss: 0.3613 - acc: 0.8541
Epoch 56/100
891/891 [==============================] - 0s 275us/step - loss: 0.3622 - acc: 0.8519
Epoch 57/100
891/891 [==============================] - 0s 310us/step - loss: 0.3477 - acc: 0.8642
Epoch 58/100
891/891 [==============================] - 0s 357us/step - loss: 0.3470 - acc: 0.8496
Epoch 59/100
891/891 [==============================] - 0s 434us/step - loss: 0.3613 - acc: 0.8586
Epoch 60/100
891/891 [==============================] - 0s 274us/step - loss: 0.3639 - acc: 0.8440
Epoch 61/100
891/891 [==============================] - 0s 402us/step - loss: 0.3549 - acc: 0.8395
Epoch 62/100
891/891 [==============================] - 0s 427us/step - loss: 0.3540 - acc: 0.8530
Epoch 63/100
891/891 [==============================] - 0s 325us/step - loss: 0.3705 - acc: 0.8429
Epoch 64/100
891/891 [==============================] - 0s 321us/step - loss: 0.3561 - acc: 0.8507
Epoch 65/100
891/891 [==============================] - 0s 327us/step - loss: 0.3546 - acc: 0.8620
Epoch 66/100
891/891 [==============================] - 0s 327us/step - loss: 0.3513 - acc: 0.8519
Epoch 67/100
891/891 [==============================] - 0s 303us/step - loss: 0.3428 - acc: 0.8552
Epoch 68/100
891/891 [==============================] - 0s 295us/step - loss: 0.3465 - acc: 0.8507
Epoch 69/100
891/891 [==============================] - 0s 308us/step - loss: 0.3536 - acc: 0.8418
Epoch 70/100
891/891 [==============================] - 0s 321us/step - loss: 0.3540 - acc: 0.8597
Epoch 71/100
891/891 [==============================] - 0s 304us/step - loss: 0.3518 - acc: 0.8586
Epoch 72/100
891/891 [==============================] - 0s 299us/step - loss: 0.3541 - acc: 0.8552
Epoch 73/100
891/891 [==============================] - 0s 301us/step - loss: 0.3455 - acc: 0.8530
Epoch 74/100
891/891 [==============================] - 0s 302us/step - loss: 0.3518 - acc: 0.8563
Epoch 75/100
891/891 [==============================] - 0s 304us/step - loss: 0.3454 - acc: 0.8608
Epoch 76/100
891/891 [==============================] - 0s 320us/step - loss: 0.3465 - acc: 0.8687
Epoch 77/100
891/891 [==============================] - 0s 327us/step - loss: 0.3402 - acc: 0.8541
Epoch 78/100
891/891 [==============================] - 0s 311us/step - loss: 0.3272 - acc: 0.8721
Epoch 79/100
891/891 [==============================] - 0s 299us/step - loss: 0.3548 - acc: 0.8429
Epoch 80/100
891/891 [==============================] - 0s 315us/step - loss: 0.3442 - acc: 0.8519
Epoch 81/100
891/891 [==============================] - 0s 310us/step - loss: 0.3519 - acc: 0.8519
Epoch 82/100
891/891 [==============================] - 0s 308us/step - loss: 0.3404 - acc: 0.8597
Epoch 83/100
891/891 [==============================] - 0s 281us/step - loss: 0.3265 - acc: 0.8519
Epoch 84/100
891/891 [==============================] - 0s 277us/step - loss: 0.3409 - acc: 0.8608
Epoch 85/100
891/891 [==============================] - 0s 275us/step - loss: 0.3309 - acc: 0.8608
Epoch 86/100
891/891 [==============================] - 0s 282us/step - loss: 0.3499 - acc: 0.8552
Epoch 87/100
891/891 [==============================] - 0s 283us/step - loss: 0.3291 - acc: 0.8687
Epoch 88/100
891/891 [==============================] - 0s 288us/step - loss: 0.3442 - acc: 0.8597
Epoch 89/100
891/891 [==============================] - 0s 281us/step - loss: 0.3426 - acc: 0.8676
Epoch 90/100
891/891 [==============================] - 0s 297us/step - loss: 0.3343 - acc: 0.8721
Epoch 91/100
891/891 [==============================] - 0s 352us/step - loss: 0.3306 - acc: 0.8698
Epoch 92/100
891/891 [==============================] - 0s 322us/step - loss: 0.3320 - acc: 0.8754
Epoch 93/100
891/891 [==============================] - 0s 300us/step - loss: 0.3350 - acc: 0.8474
Epoch 94/100
891/891 [==============================] - 0s 294us/step - loss: 0.3495 - acc: 0.8597
Epoch 95/100
891/891 [==============================] - 0s 287us/step - loss: 0.3316 - acc: 0.8575
Epoch 96/100
891/891 [==============================] - 0s 294us/step - loss: 0.3329 - acc: 0.8664
Epoch 97/100
891/891 [==============================] - 0s 293us/step - loss: 0.3416 - acc: 0.8597
Epoch 98/100
891/891 [==============================] - 0s 297us/step - loss: 0.3361 - acc: 0.8653
Epoch 99/100
891/891 [==============================] - 0s 340us/step - loss: 0.3305 - acc: 0.8653
Epoch 100/100
891/891 [==============================] - 0s 315us/step - loss: 0.3347 - acc: 0.8721

# Step 6: Validate and Implement

In [191]:
t_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Name_Len,Fare_Len,FamilySize,Have_Cabin,IsAlone,Title,age_cat
0,3,male,34.5,0,0,7.8292,Q,16,6,1,0,1,Mr,adult
1,3,female,47.0,1,0,7.0000,S,32,3,2,0,0,Mrs,adult
2,2,male,62.0,0,0,9.6875,Q,25,6,1,0,1,Mr,old
3,3,male,27.0,0,0,8.6625,S,16,6,1,0,1,Mr,young
4,3,female,22.0,1,1,12.2875,S,44,7,3,0,0,Mrs,young
5,3,male,14.0,0,0,9.2250,S,26,5,1,0,1,Mr,teenage
6,3,female,30.0,0,0,7.6292,Q,20,6,1,0,1,Mrs,young
7,2,male,26.0,1,1,29.0000,S,28,4,3,0,0,Mr,young
8,3,female,18.0,0,0,7.2292,C,41,6,1,0,1,Mrs,young
9,3,male,21.0,2,0,24.1500,S,23,5,3,0,0,Mr,young
10,3,male,27.0,0,0,7.8958,S,16,6,1,0,1,Mr,young
11,1,male,46.0,0,0,26.0000,S,26,4,1,0,1,Mr,adult
12,1,female,23.0,1,0,82.2667,S,45,7,2,1,0,Mrs,young
13,2,male,63.0,1,0,26.0000,S,20,4,2,0,0,Mr,old
14,1,female,47.0,1,0,61.1750,S,55,6,2,1,0,Mrs,adult
15,2,female,24.0,1,0,27.7208,C,45,7,2,0,0,Mrs,young
16,2,male,35.0,0,0,12.3500,Q,17,5,1,0,1,Mr,adult
17,3,male,21.0,0,0,7.2250,C,17,5,1,0,1,Mr,young
18,3,female,27.0,1,0,7.9250,S,28,5,2,0,0,Mrs,young
19,3,female,45.0,0,0,7.2250,C,37,5,1,0,1,Mrs,adult
20,1,male,55.0,1,0,59.4000,C,22,4,2,0,0,Mr,adult
21,3,male,9.0,0,1,3.1708,S,25,6,2,0,0,Mr,teenage
22,1,female,27.0,0,0,31.6833,S,36,7,1,0,1,Mrs,young
23,1,male,21.0,0,1,61.3792,C,31,7,2,0,0,Mr,young
24,1,female,48.0,1,3,262.3750,C,47,7,5,1,0,Mrs,adult
25,3,male,50.0,1,0,14.5000,S,23,4,2,0,0,Mr,adult
26,1,female,22.0,0,1,61.9792,C,28,7,2,1,0,Mrs,young
27,3,male,22.5,0,0,7.2250,C,17,5,1,0,1,Mr,young
28,1,male,41.0,0,0,30.5000,S,23,4,1,1,1,Mr,adult
29,3,male,27.0,2,0,21.6792,C,17,7,3,0,0,Mr,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,male,21.0,0,0,7.7500,Q,20,4,1,0,1,Mr,young
389,3,male,6.0,3,1,21.0750,S,27,6,5,0,0,Mr,children
390,1,male,23.0,0,0,93.5000,S,26,4,1,1,1,Mr,young
391,1,female,51.0,0,1,39.4000,S,46,4,2,1,0,Mrs,adult
392,3,male,13.0,0,2,20.2500,S,29,5,3,0,0,Mr,teenage
393,2,male,47.0,0,0,10.5000,S,20,4,1,0,1,Mr,adult
394,3,male,29.0,3,1,22.0250,S,24,6,5,0,0,Mr,young
395,1,female,18.0,1,0,60.0000,S,46,4,2,1,0,Mrs,young
396,3,male,24.0,0,0,7.2500,Q,20,4,1,0,1,Mr,young
397,1,female,48.0,1,1,79.2000,C,63,4,3,1,0,Mrs,adult
398,3,male,22.0,0,0,7.7750,S,30,5,1,0,1,Mr,young
399,3,male,31.0,0,0,7.7333,Q,24,6,1,0,1,Mr,adult
400,1,female,30.0,0,0,164.8667,S,23,8,1,1,1,Mrs,young
401,2,male,38.0,1,0,21.0000,S,15,4,2,0,0,Mr,adult
402,1,female,22.0,0,1,59.4000,C,30,4,2,0,0,Mrs,young
403,1,male,17.0,0,0,47.1000,S,22,4,1,0,1,Mr,young
404,1,male,43.0,1,0,27.7208,C,28,7,2,1,0,Mr,adult
405,2,male,20.0,0,0,13.8625,C,44,7,1,1,1,Mr,young
406,2,male,23.0,1,0,10.5000,S,25,4,2,0,0,Mr,young
407,1,male,50.0,1,1,211.5000,C,26,5,3,1,0,Mr,adult
408,3,female,27.0,0,0,7.7208,Q,31,6,1,0,1,Mrs,young
409,3,female,3.0,1,1,13.7750,S,25,6,3,0,0,Mrs,baby
410,3,female,27.0,0,0,7.7500,Q,22,4,1,0,1,Mrs,young
411,1,female,37.0,1,0,90.0000,Q,47,4,2,1,0,Mrs,adult
412,3,female,28.0,0,0,7.7750,S,30,5,1,0,1,Mrs,young
413,3,male,27.0,0,0,8.0500,S,18,4,1,0,1,Mr,young
414,1,female,39.0,0,0,108.9000,C,28,5,1,1,1,Mrs,adult
415,3,male,38.5,0,0,7.2500,S,28,4,1,0,1,Mr,adult
416,3,male,27.0,0,0,8.0500,S,19,4,1,0,1,Mr,young
417,3,male,27.0,1,1,22.3583,C,24,7,3,0,0,Mr,young

In [192]:
data_dummies2 = pd.get_dummies(t_test)

In [193]:
data_dummies2

,Pclass,Age,SibSp,Parch,Fare,Name_Len,Fare_Len,FamilySize,Have_Cabin,IsAlone,...,Embarked_Q,Embarked_S,Title_Mr,Title_Mrs,age_cat_baby,age_cat_children,age_cat_teenage,age_cat_young,age_cat_adult,age_cat_old
0,3,34.5,0,0,7.8292,16,6,1,0,1,...,1,0,1,0,0,0,0,0,1,0
1,3,47.0,1,0,7.0000,32,3,2,0,0,...,0,1,0,1,0,0,0,0,1,0
2,2,62.0,0,0,9.6875,25,6,1,0,1,...,1,0,1,0,0,0,0,0,0,1
3,3,27.0,0,0,8.6625,16,6,1,0,1,...,0,1,1,0,0,0,0,1,0,0
4,3,22.0,1,1,12.2875,44,7,3,0,0,...,0,1,0,1,0,0,0,1,0,0
5,3,14.0,0,0,9.2250,26,5,1,0,1,...,0,1,1,0,0,0,1,0,0,0
6,3,30.0,0,0,7.6292,20,6,1,0,1,...,1,0,0,1,0,0,0,1,0,0
7,2,26.0,1,1,29.0000,28,4,3,0,0,...,0,1,1,0,0,0,0,1,0,0
8,3,18.0,0,0,7.2292,41,6,1,0,1,...,0,0,0,1,0,0,0,1,0,0
9,3,21.0,2,0,24.1500,23,5,3,0,0,...,0,1,1,0,0,0,0,1,0,0
10,3,27.0,0,0,7.8958,16,6,1,0,1,...,0,1,1,0,0,0,0,1,0,0
11,1,46.0,0,0,26.0000,26,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
12,1,23.0,1,0,82.2667,45,7,2,1,0,...,0,1,0,1,0,0,0,1,0,0
13,2,63.0,1,0,26.0000,20,4,2,0,0,...,0,1,1,0,0,0,0,0,0,1
14,1,47.0,1,0,61.1750,55,6,2,1,0,...,0,1,0,1,0,0,0,0,1,0
15,2,24.0,1,0,27.7208,45,7,2,0,0,...,0,0,0,1,0,0,0,1,0,0
16,2,35.0,0,0,12.3500,17,5,1,0,1,...,1,0,1,0,0,0,0,0,1,0
17,3,21.0,0,0,7.2250,17,5,1,0,1,...,0,0,1,0,0,0,0,1,0,0
18,3,27.0,1,0,7.9250,28,5,2,0,0,...,0,1,0,1,0,0,0,1,0,0
19,3,45.0,0,0,7.2250,37,5,1,0,1,...,0,0,0,1,0,0,0,0,1,0
20,1,55.0,1,0,59.4000,22,4,2,0,0,...,0,0,1,0,0,0,0,0,1,0
21,3,9.0,0,1,3.1708,25,6,2,0,0,...,0,1,1,0,0,0,1,0,0,0
22,1,27.0,0,0,31.6833,36,7,1,0,1,...,0,1,0,1,0,0,0,1,0,0
23,1,21.0,0,1,61.3792,31,7,2,0,0,...,0,0,1,0,0,0,0,1,0,0
24,1,48.0,1,3,262.3750,47,7,5,1,0,...,0,0,0,1,0,0,0,0,1,0
25,3,50.0,1,0,14.5000,23,4,2,0,0,...,0,1,1,0,0,0,0,0,1,0
26,1,22.0,0,1,61.9792,28,7,2,1,0,...,0,0,0,1,0,0,0,1,0,0
27,3,22.5,0,0,7.2250,17,5,1,0,1,...,0,0,1,0,0,0,0,1,0,0
28,1,41.0,0,0,30.5000,23,4,1,1,1,...,0,1,1,0,0,0,0,0,1,0
29,3,27.0,2,0,21.6792,17,7,3,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,3,21.0,0,0,7.7500,20,4,1,0,1,...,1,0,1,0,0,0,0,1,0,0
389,3,6.0,3,1,21.0750,27,6,5,0,0,...,0,1,1,0,0,1,0,0,0,0
390,1,23.0,0,0,93.5000,26,4,1,1,1,...,0,1,1,0,0,0,0,1,0,0
391,1,51.0,0,1,39.4000,46,4,2,1,0,...,0,1,0,1,0,0,0,0,1,0
392,3,13.0,0,2,20.2500,29,5,3,0,0,...,0,1,1,0,0,0,1,0,0,0
393,2,47.0,0,0,10.5000,20,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
394,3,29.0,3,1,22.0250,24,6,5,0,0,...,0,1,1,0,0,0,0,1,0,0
395,1,18.0,1,0,60.0000,46,4,2,1,0,...,0,1,0,1,0,0,0,1,0,0
396,3,24.0,0,0,7.2500,20,4,1,0,1,...,1,0,1,0,0,0,0,1,0,0
397,1,48.0,1,1,79.2000,63,4,3,1,0,...,0,0,0,1,0,0,0,0,1,0
398,3,22.0,0,0,7.7750,30,5,1,0,1,...,0,1,1,0,0,0,0,1,0,0
399,3,31.0,0,0,7.7333,24,6,1,0,1,...,1,0,1,0,0,0,0,0,1,0
400,1,30.0,0,0,164.8667,23,8,1,1,1,...,0,1,0,1,0,0,0,1,0,0
401,2,38.0,1,0,21.0000,15,4,2,0,0,...,0,1,1,0,0,0,0,0,1,0
402,1,22.0,0,1,59.4000,30,4,2,0,0,...,0,0,0,1,0,0,0,1,0,0
403,1,17.0,0,0,47.1000,22,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
404,1,43.0,1,0,27.7208,28,7,2,1,0,...,0,0,1,0,0,0,0,0,1,0
405,2,20.0,0,0,13.8625,44,7,1,1,1,...,0,0,1,0,0,0,0,1,0,0
406,2,23.0,1,0,10.5000,25,4,2,0,0,...,0,1,1,0,0,0,0,1,0,0
407,1,50.0,1,1,211.5000,26,5,3,1,0,...,0,0,1,0,0,0,0,0,1,0
408,3,27.0,0,0,7.7208,31,6,1,0,1,...,1,0,0,1,0,0,0,1,0,0
409,3,3.0,1,1,13.7750,25,6,3,0,0,...,0,1,0,1,1,0,0,0,0,0
410,3,27.0,0,0,7.7500,22,4,1,0,1,...,1,0,0,1,0,0,0,1,0,0
411,1,37.0,1,0,90.0000,47,4,2,1,0,...,1,0,0,1,0,0,0,0,1,0
412,3,28.0,0,0,7.7750,30,5,1,0,1,...,0,1,0,1,0,0,0,1,0,0
413,3,27.0,0,0,8.0500,18,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
414,1,39.0,0,0,108.9000,28,5,1,1,1,...,0,0,0,1,0,0,0,0,1,0
415,3,38.5,0,0,7.2500,28,4,1,0,1,...,0,1,1,0,0,0,0,0,1,0
416,3,27.0,0,0,8.0500,19,4,1,0,1,...,0,1,1,0,0,0,0,1,0,0
417,3,27.0,1,1,22.3583,24,7,3,0,0,...,0,0,1,0,0,0,0,1,0,0

In [194]:
data_dummies2.shape

(418, 23)

In [195]:
Y_scaled = scaler.transform(data_dummies2)

In [196]:
predictions = model.predict(Y_scaled)

In [197]:
predictions

array([[9.16505516e-01, 8.34944621e-02],
       [9.99088764e-01, 9.11182258e-04],
       [9.56867635e-01, 4.31324057e-02],
       [7.74834871e-01, 2.25165129e-01],
       [9.76618648e-01, 2.33813468e-02],
       [9.95050490e-01, 4.94949799e-03],
       [1.65061325e-01, 8.34938705e-01],
       [9.75584030e-01, 2.44159903e-02],
       [2.08308235e-01, 7.91691780e-01],
       [9.73143399e-01, 2.68566050e-02],
       [7.75913358e-01, 2.24086642e-01],
       [7.04439938e-01, 2.95560062e-01],
       [8.45603496e-02, 9.15439606e-01],
       [9.87722397e-01, 1.22775473e-02],
       [9.94710565e-01, 5.28948428e-03],
       [1.89225182e-01, 8.10774803e-01],
       [8.55658472e-01, 1.44341528e-01],
       [7.47762740e-01, 2.52237290e-01],
       [3.83972406e-01, 6.16027594e-01],
       [9.64780450e-01, 3.52194682e-02],
       [8.99466515e-01, 1.00533515e-01],
       [9.85252798e-01, 1.47471623e-02],
       [1.19779003e-03, 9.98802185e-01],
       [6.17086947e-01, 3.82913142e-01],
       [9.99719560e-01, 2.80442153e-04],
       [9.98680890e-01, 1.31912832e-03],
       [8.31341092e-03, 9.91686523e-01],
       [7.61685431e-01, 2.38314509e-01],
       [6.88346267e-01, 3.11653763e-01],
       [8.21772873e-01, 1.78227171e-01],
       [9.92462158e-01, 7.53779244e-03],
       [9.93543267e-01, 6.45677513e-03],
       [9.99529004e-01, 4.71000152e-04],
       [9.99982953e-01, 1.70354342e-05],
       [6.83753312e-01, 3.16246688e-01],
       [9.94936466e-01, 5.06354077e-03],
       [1.05103746e-01, 8.94896269e-01],
       [8.37178493e-04, 9.99162793e-01],
       [8.76510441e-01, 1.23489574e-01],
       [7.31212974e-01, 2.68787116e-01],
       [8.73284280e-01, 1.26715764e-01],
       [4.36665028e-01, 5.63334942e-01],
       [9.62663889e-01, 3.73360775e-02],
       [2.21660823e-01, 7.78339148e-01],
       [7.29531229e-01, 2.70468771e-01],
       [8.75604570e-01, 1.24395415e-01],
       [7.23071158e-01, 2.76928842e-01],
       [9.46168721e-01, 5.38312942e-02],
       [5.83893120e-01, 4.16106910e-01],
       [9.99983549e-01, 1.64578851e-05],
       [5.89319170e-01, 4.10680890e-01],
       [5.34691751e-01, 4.65308189e-01],
       [7.88898766e-01, 2.11101219e-01],
       [9.68969464e-01, 3.10305879e-02],
       [5.90234756e-01, 4.09765154e-01],
       [9.99993205e-01, 6.79263485e-06],
       [8.27857196e-01, 1.72142804e-01],
       [9.57920551e-01, 4.20794934e-02],
       [9.83082116e-01, 1.69179272e-02],
       [1.57587424e-01, 8.42412591e-01],
       [6.79505050e-01, 3.20495009e-01],
       [8.17029953e-01, 1.82970077e-01],
       [9.12255883e-01, 8.77440721e-02],
       [2.72947431e-01, 7.27052629e-01],
       [9.94924426e-01, 5.07553201e-03],
       [9.92343485e-01, 7.65654724e-03],
       [7.34826922e-02, 9.26517308e-01],
       [8.06153476e-01, 1.93846524e-01],
       [6.07794166e-01, 3.92205834e-01],
       [9.99790847e-01, 2.09128397e-04],
       [3.90018582e-01, 6.09981358e-01],
       [6.82614028e-01, 3.17385972e-01],
       [1.29543409e-01, 8.70456636e-01],
       [5.39767087e-01, 4.60232884e-01],
       [5.32477535e-02, 9.46752191e-01],
       [6.52416885e-01, 3.47583115e-01],
       [8.28112662e-01, 1.71887368e-01],
       [9.99916077e-01, 8.39438362e-05],
       [7.53376544e-01, 2.46623501e-01],
       [3.54462802e-01, 6.45537198e-01],
       [7.13645041e-01, 2.86354929e-01],
       [7.49622583e-01, 2.50377387e-01],
       [7.31453955e-01, 2.68546015e-01],
       [7.19131708e-01, 2.80868322e-01],
       [7.12611139e-01, 2.87388861e-01],
       [7.91746199e-01, 2.08253756e-01],
       [9.44651365e-02, 9.05534863e-01],
       [1.18240312e-01, 8.81759763e-01],
       [3.89738739e-01, 6.10261202e-01],
       [9.99056876e-01, 9.43141058e-04],
       [9.99998569e-01, 1.43258046e-06],
       [7.85501063e-01, 2.14498863e-01],
       [6.33143663e-01, 3.66856337e-01],
       [8.22089016e-01, 1.77910954e-01],
       [6.87857747e-01, 3.12142253e-01],
       [6.07833743e-01, 3.92166197e-01],
       [9.99876261e-01, 1.23779231e-04],
       [7.14534760e-01, 2.85465300e-01],
       [7.54788751e-03, 9.92452085e-01],
       [9.90783930e-01, 9.21599846e-03],
       [8.67673635e-01, 1.32326365e-01],
       [7.76477456e-01, 2.23522574e-01],
       [9.07482624e-01, 9.25173312e-02],
       [9.87096071e-01, 1.29038934e-02],
       [9.35149074e-01, 6.48509488e-02],
       [6.25661016e-01, 3.74339014e-01],
       [8.25982988e-01, 1.74017027e-01],
       [9.10182297e-01, 8.98177177e-02],
       [6.14981771e-01, 3.85018200e-01],
       [6.96762741e-01, 3.03237259e-01],
       [7.34552383e-01, 2.65447646e-01],
       [2.87560016e-01, 7.12440014e-01],
       [2.42349366e-03, 9.97576535e-01],
       [1.00990951e-01, 8.99008989e-01],
       [7.86651611e-01, 2.13348389e-01],
       [7.38541901e-01, 2.61458069e-01],
       [7.64663100e-01, 2.35336930e-01],
       [9.99665260e-01, 3.34775163e-04],
       [6.89848602e-01, 3.10151428e-01],
       [9.97468352e-01, 2.53164000e-03],
       [5.76154678e-04, 9.99423862e-01],
       [9.65266824e-01, 3.47331539e-02],
       [1.99998021e-01, 8.00001979e-01],
       [8.20415378e-01, 1.79584563e-01],
       [9.03570175e-01, 9.64298844e-02],
       [2.52700150e-01, 7.47299850e-01],
       [6.09331548e-01, 3.90668392e-01],
       [7.34676838e-01, 2.65323162e-01],
       [8.25743914e-01, 1.74256042e-01],
       [7.83544898e-01, 2.16455176e-01],
       [9.58225191e-01, 4.17747945e-02],
       [7.76541114e-01, 2.23458871e-01],
       [9.31571841e-01, 6.84281737e-02],
       [7.59024143e-01, 2.40975887e-01],
       [8.73845994e-01, 1.26154006e-01],
       [6.10636353e-01, 3.89363617e-01],
       [7.27395058e-01, 2.72604913e-01],
       [7.51371682e-01, 2.48628274e-01],
       [1.07258178e-01, 8.92741799e-01],
       [1.00000000e+00, 6.92717883e-09],
       [9.99999881e-01, 1.56498487e-07],
       [7.74350669e-03, 9.92256522e-01],
       [9.94837463e-01, 5.16255153e-03],
       [6.82093620e-01, 3.17906320e-01],
       [9.99147773e-01, 8.52208876e-04],
       [9.99971271e-01, 2.87533367e-05],
       [3.12946081e-01, 6.87053978e-01],
       [8.08173239e-01, 1.91826716e-01],
       [4.72862005e-01, 5.27137995e-01],
       [9.19317126e-01, 8.06828737e-02],
       [1.05822094e-01, 8.94177973e-01],
       [7.13387132e-01, 2.86612839e-01],
       [8.72955084e-01, 1.27044871e-01],
       [9.98517931e-01, 1.48204761e-03],
       [9.99996305e-01, 3.69207464e-06],
       [7.83784449e-01, 2.16215536e-01],
       [3.45255285e-05, 9.99965429e-01],
       [3.84267187e-03, 9.96157348e-01],
       [6.65512204e-01, 3.34487796e-01],
       [9.13378537e-01, 8.66214633e-02],
       [9.42910686e-02, 9.05708909e-01],
       [7.94165552e-01, 2.05834463e-01],
       [1.14046149e-02, 9.88595307e-01],
       [8.94567966e-01, 1.05432078e-01],
       [9.44090664e-01, 5.59092946e-02],
       [9.92938876e-01, 7.06108985e-03],
       [7.40295529e-01, 2.59704411e-01],
       [9.93015170e-01, 6.98485551e-03],
       [2.80698448e-01, 7.19301522e-01],
       [1.10808825e-02, 9.88919079e-01],
       [8.14910412e-01, 1.85089573e-01],
       [7.70707607e-01, 2.29292393e-01],
       [9.62879062e-01, 3.71210016e-02],
       [7.64317930e-01, 2.35682100e-01],
       [9.99998927e-01, 1.06097116e-06],
       [9.06699717e-01, 9.33003426e-02],
       [7.01827172e-04, 9.99298215e-01],
       [7.90717244e-01, 2.09282756e-01],
       [9.99950409e-01, 4.95946879e-05],
       [9.93313134e-01, 6.68688444e-03],
       [7.12022305e-01, 2.87977725e-01],
       [8.89057338e-01, 1.10942669e-01],
       [9.99830127e-01, 1.69806954e-04],
       [9.03570175e-01, 9.64298546e-02],
       [9.70686197e-01, 2.93137487e-02],
       [8.74179959e-01, 1.25820085e-01],
       [2.81199872e-01, 7.18800128e-01],
       [9.49716449e-01, 5.02835698e-02],
       [9.99959111e-01, 4.08611304e-05],
       [8.04572403e-01, 1.95427582e-01],
       [9.14839685e-01, 8.51603225e-02],
       [6.22623742e-01, 3.77376229e-01],
       [9.99999762e-01, 1.89999355e-07],
       [9.51540530e-01, 4.84594479e-02],
       [9.99832869e-01, 1.67052887e-04],
       [9.72944617e-01, 2.70554163e-02],
       [6.45197749e-01, 3.54802310e-01],
       [5.10323010e-02, 9.48967695e-01],
       [7.07056522e-01, 2.92943448e-01],
       [2.63286471e-01, 7.36713469e-01],
       [3.90318841e-01, 6.09681189e-01],
       [9.99999881e-01, 8.88745362e-08],
       [6.98332310e-01, 3.01667631e-01],
       [9.14894998e-01, 8.51050690e-02],
       [6.84764862e-01, 3.15235108e-01],
       [3.75311732e-01, 6.24688268e-01],
       [9.10091698e-01, 8.99083093e-02],
       [6.75740480e-01, 3.24259520e-01],
       [3.09166964e-03, 9.96908367e-01],
       [7.29574382e-01, 2.70425677e-01],
       [8.90040934e-01, 1.09959140e-01],
       [8.22437525e-01, 1.77562490e-01],
       [5.18438101e-01, 4.81561959e-01],
       [9.99647856e-01, 3.52137198e-04],
       [9.99996781e-01, 3.24136727e-06],
       [6.95293427e-01, 3.04706573e-01],
       [2.87685007e-01, 7.12314963e-01],
       [8.51378381e-01, 1.48621678e-01],
       [9.99348104e-01, 6.51837618e-04],
       [9.81028497e-01, 1.89714488e-02],
       [1.92576081e-01, 8.07423890e-01],
       [7.39573240e-01, 2.60426730e-01],
       [1.04867242e-01, 8.95132780e-01],
       [5.69566250e-01, 4.30433750e-01],
       [2.81973243e-01, 7.18026757e-01],
       [9.89718199e-01, 1.02817472e-02],
       [5.99180639e-01, 4.00819361e-01],
       [3.91377091e-01, 6.08622968e-01],
       [9.89309788e-01, 1.06902272e-02],
       [9.91079867e-01, 8.92013963e-03],
       [9.97635841e-01, 2.36411113e-03],
       [8.62059649e-04, 9.99137878e-01],
       [7.02094853e-01, 2.97905207e-01],
       [8.37018609e-01, 1.62981361e-01],
       [7.04013586e-01, 2.95986325e-01],
       [6.17490232e-01, 3.82509768e-01],
       [8.75459731e-01, 1.24540307e-01],
       [7.09807515e-01, 2.90192515e-01],
       [3.07095110e-01, 6.92904949e-01],
       [6.63479984e-01, 3.36520106e-01],
       [1.92175731e-01, 8.07824254e-01],
       [9.06776130e-01, 9.32238698e-02],
       [9.82653677e-01, 1.73463225e-02],
       [7.52062738e-01, 2.47937217e-01],
       [9.99992251e-01, 7.70102088e-06],
       [6.92456186e-01, 3.07543784e-01],
       [2.08836526e-01, 7.91163445e-01],
       [9.85614479e-01, 1.43855885e-02],
       [9.37839627e-01, 6.21603467e-02],
       [6.78181469e-01, 3.21818620e-01],
       [8.38412821e-01, 1.61587179e-01],
       [9.93045628e-01, 6.95441104e-03],
       [6.99385405e-01, 3.00614625e-01],
       [6.79680109e-01, 3.20319861e-01],
       [9.83227849e-01, 1.67721640e-02],
       [9.22488868e-01, 7.75111616e-02],
       [9.09153759e-01, 9.08462480e-02],
       [7.94570029e-01, 2.05429956e-01],
       [2.22969614e-02, 9.77703035e-01],
       [6.52290046e-01, 3.47709924e-01],
       [9.99990225e-01, 9.78225125e-06],
       [5.69558740e-01, 4.30441260e-01],
       [9.99357045e-01, 6.42944360e-04],
       [9.55520511e-01, 4.44794782e-02],
       [5.71923316e-01, 4.28076684e-01],
       [7.01131165e-01, 2.98868835e-01],
       [9.33805287e-01, 6.61947355e-02],
       [9.37851191e-01, 6.21488132e-02],
       [1.40662000e-01, 8.59337986e-01],
       [6.49546206e-01, 3.50453794e-01],
       [6.72634065e-01, 3.27365875e-01],
       [9.10182297e-01, 8.98176730e-02],
       [1.15167871e-01, 8.84832144e-01],
       [5.44481754e-01, 4.55518275e-01],
       [7.56552458e-01, 2.43447572e-01],
       [3.43969882e-01, 6.56030059e-01],
       [7.11974859e-01, 2.88025141e-01],
       [9.41934526e-01, 5.80654182e-02],
       [7.83152699e-01, 2.16847256e-01],
       [6.39611363e-01, 3.60388577e-01],
       [2.38020183e-03, 9.97619808e-01],
       [9.99621987e-01, 3.78002413e-04],
       [3.89961809e-01, 6.10038280e-01],
       [5.20669520e-01, 4.79330450e-01],
       [9.50372159e-01, 4.96279076e-02],
       [9.34526622e-01, 6.54733479e-02],
       [9.99119699e-01, 8.80286156e-04],
       [5.81166089e-01, 4.18833971e-01],
       [6.89367294e-01, 3.10632676e-01],
       [8.28112662e-01, 1.71887368e-01],
       [7.88877606e-01, 2.11122379e-01],
       [9.87819433e-01, 1.21805212e-02],
       [7.50560820e-01, 2.49439150e-01],
       [7.59047508e-01, 2.40952522e-01],
       [9.99096274e-01, 9.03763692e-04],
       [7.07886755e-01, 2.92113245e-01],
       [3.92696470e-01, 6.07303500e-01],
       [8.21772873e-01, 1.78227171e-01],
       [5.11450410e-01, 4.88549531e-01],
       [7.57294297e-01, 2.42705658e-01],
       [9.16779459e-01, 8.32205936e-02],
       [5.17002165e-01, 4.82997864e-01],
       [9.67443109e-01, 3.25569361e-02],
       [7.29902923e-01, 2.70097077e-01],
       [9.29727137e-01, 7.02728406e-02],
       [9.99940276e-01, 5.97131402e-05],
       [9.79496658e-01, 2.05033440e-02],
       [9.98626828e-01, 1.37315306e-03],
       [9.89336491e-01, 1.06635122e-02],
       [9.93439972e-01, 6.56002760e-03],
       [6.27240419e-01, 3.72759581e-01],
       [7.19556749e-01, 2.80443192e-01],
       [7.70436049e-01, 2.29563907e-01],
       [7.42353320e-01, 2.57646680e-01],
       [1.89296663e-01, 8.10703397e-01],
       [2.98595466e-02, 9.70140517e-01],
       [7.29164600e-01, 2.70835340e-01],
       [5.84778786e-01, 4.15221274e-01],
       [6.31914973e-01, 3.68085086e-01],
       [9.90554869e-01, 9.44512803e-03],
       [6.89407468e-01, 3.10592532e-01],
       [6.95113540e-01, 3.04886490e-01],
       [7.47707546e-01, 2.52292484e-01],
       [6.19378388e-01, 3.80621642e-01],
       [2.18362827e-03, 9.97816324e-01],
       [8.23857665e-01, 1.76142320e-01],
       [9.94825006e-01, 5.17502706e-03],
       [9.98833358e-01, 1.16667803e-03],
       [9.43535805e-01, 5.64641394e-02],
       [7.12857485e-01, 2.87142545e-01],
       [9.99960423e-01, 3.95698917e-05],
       [7.12447524e-01, 2.87552476e-01],
       [7.70707607e-01, 2.29292393e-01],
       [6.07247174e-01, 3.92752826e-01],
       [8.14052284e-01, 1.85947716e-01],
       [5.78201473e-01, 4.21798527e-01],
       [8.34710538e-01, 1.65289477e-01],
       [9.63365018e-01, 3.66349705e-02],
       [7.18838871e-01, 2.81161129e-01],
       [7.05922902e-01, 2.94077158e-01],
       [6.37152791e-01, 3.62847209e-01],
       [8.59150589e-01, 1.40849397e-01],
       [9.99999523e-01, 5.05229877e-07],
       [9.99996543e-01, 3.42573730e-06],
       [9.99966145e-01, 3.38181708e-05],
       [1.23813927e-01, 8.76186073e-01],
       [6.69022381e-01, 3.30977619e-01],
       [9.95175958e-01, 4.82400414e-03],
       [7.64866233e-01, 2.35133782e-01],
       [1.38751179e-01, 8.61248791e-01],
       [4.56359982e-01, 5.43640018e-01],
       [6.67943597e-01, 3.32056433e-01],
       [6.29011214e-01, 3.70988816e-01],
       [9.95753050e-01, 4.24695946e-03],
       [9.99832869e-01, 1.67058635e-04],
       [7.17809021e-01, 2.82190889e-01],
       [9.77855504e-01, 2.21444126e-02],
       [7.36474454e-01, 2.63525575e-01],
       [9.17556882e-01, 8.24430585e-02],
       [9.99844193e-01, 1.55765199e-04],
       [1.00000000e+00, 4.97080350e-13],
       [4.21101838e-01, 5.78898191e-01],
       [9.81106400e-01, 1.88935548e-02],
       [7.63112128e-01, 2.36887813e-01],
       [1.49186298e-01, 8.50813687e-01],
       [9.99996305e-01, 3.74819615e-06],
       [7.95896351e-01, 2.04103678e-01],
       [4.31205958e-01, 5.68794072e-01],
       [8.14716220e-01, 1.85283795e-01],
       [6.16289258e-01, 3.83710772e-01],
       [7.81232059e-01, 2.18767941e-01],
       [1.33131325e-01, 8.66868734e-01],
       [7.69522429e-01, 2.30477527e-01],
       [8.65128517e-01, 1.34871498e-01],
       [7.87510276e-01, 2.12489739e-01],
       [1.67761311e-01, 8.32238674e-01],
       [2.07376361e-01, 7.92623639e-01],
       [6.41901612e-01, 3.58098328e-01],
       [8.02525699e-01, 1.97474286e-01],
       [9.95434701e-01, 4.56525106e-03],
       [9.22398388e-01, 7.76016712e-02],
       [8.59166622e-01, 1.40833408e-01],
       [1.33714736e-01, 8.66285205e-01],
       [9.54427004e-01, 4.55729775e-02],
       [5.27685761e-01, 4.72314298e-01],
       [4.67220664e-01, 5.32779396e-01],
       [8.15800548e-01, 1.84199452e-01],
       [8.48004341e-01, 1.51995718e-01],
       [8.89891088e-01, 1.10108979e-01],
       [9.82703567e-01, 1.72964651e-02],
       [4.20160025e-01, 5.79839945e-01],
       [9.85604823e-01, 1.43951429e-02],
       [9.99953151e-01, 4.68337021e-05],
       [8.58303726e-01, 1.41696349e-01],
       [9.98420119e-01, 1.57983392e-03],
       [8.49049568e-01, 1.50950447e-01],
       [9.04747188e-01, 9.52528343e-02],
       [9.99998689e-01, 1.32132300e-06],
       [7.82606840e-01, 2.17393160e-01],
       [9.43955421e-01, 5.60446233e-02],
       [3.80128113e-05, 9.99961972e-01],
       [8.63732874e-01, 1.36267185e-01],
       [1.71979398e-01, 8.28020632e-01],
       [4.57079053e-01, 5.42920947e-01],
       [6.98339403e-01, 3.01660627e-01],
       [4.54155684e-01, 5.45844316e-01],
       [7.57219076e-01, 2.42780909e-01],
       [9.84224916e-01, 1.57750603e-02],
       [3.29642743e-01, 6.70357227e-01],
       [9.62714493e-01, 3.72854508e-02],
       [3.91377091e-01, 6.08622968e-01],
       [9.98602331e-01, 1.39767828e-03],
       [1.26605317e-01, 8.73394668e-01],
       [8.14634681e-01, 1.85365275e-01],
       [1.64582327e-01, 8.35417688e-01],
       [9.94228244e-01, 5.77179622e-03],
       [8.06605220e-01, 1.93394810e-01],
       [8.42250943e-01, 1.57749027e-01]], dtype=float32)

In [198]:
y_pred_class = np.argmax(predictions, axis = 1)

In [199]:
y_pred_class

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [200]:
predictions = pd.DataFrame(y_pred_class, columns=['Survived'])

In [201]:
test = pd.read_csv('../data/Titanic/test.csv')
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv('y_test_ver_4.csv', sep=",", index = False)

In [ ]:
#score : 0.69377